﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="true"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">Id</th>
                    <!-- Grupy -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">Grupy</th>
                    <!-- Kod -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('Code')">Kod</th>
                    <!-- Nazwa -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('Name')">Nazwa</th>
                    <!-- Nazwa detalu -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('PartId')">Detal</th>
                    <!-- Uwagi -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">Uwagi</th>
                    <th></th>
                </tr>


                <tr ng-repeat-start="Technology in $ctrl.Items.Technologies" ng-show="Technology.Visible"
                    ng-class="{'trItemExpanded': $ctrl.IsItemExpanded(Technology.Id), 'trActiveItem': Technology.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    class="trItemOnList" data-technologyid="{{Technology.Id}}"
                    ng-click="$ctrl.SetActiveItem(Technology.Id)" ng-dblclick="$ctrl.ExpandCollapseItem(Technology.Id)">
                    <!-- Id -->
                    <td class="table-cell-clickable"
                        ng-click="$ctrl.ExpandCollapseItem(Technology.Id); $ctrl.doChangeActiveItem=false">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Technology.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Technology.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Technology.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Technology.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Kod -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.CodeColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Technology.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Technology.Code}}</div>
                    </td>
                    <!-- Nazwa -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Technology.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Technology.Name}}</div>
                    </td>
                    <!-- Nazwa detalu -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.PartColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Technology.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Technology.PartId | getPartName:$ctrl.Items.Parts}}</div>
                    </td>
                    <!-- Uwagi -->
                    <td class="table-cell-non-clickable tdNotes" data-divId="{{'tdNotes'+Technology.Id}}"
                        data-technologyid="{{Technology.Id}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.NotesColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Technology.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">Uwagi:{{Technology.Notes.length}}</div>
                    </td>
                    <td></td>
                </tr>

                <tr ng-repeat-end
                    class="trItemExpanded"
                    ng-show="$ctrl.IsItemExpanded(Technology.Id)">
                    <td colspan="{{$ctrl.ViewState.ViewSettings.ExpandedColumnSpan}}">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-sm-2">
                                    <label class="label">Operacje</label>
                                </div>
                                <div class="col-sm-10">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Kod</th>
                                            <th>Typ</th>
                                        </tr>
                                        <tr ng-repeat="Operation in Technology.Operations" class="trItemOnList">
                                            <td>{{Operation.OperationId}}</td>
                                            <td>{{Operation.OperationId | getOperationCode:$ctrl.Items.Operations}}</td>
                                            <td>{{Operation.OperationId | getOperationTypeNameByOperationId:$ctrl.Items.Operations:$ctrl.Items.OperationTypes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>