﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="false"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">Id</th>
                    <!-- Grupy -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">Grupy</th>
                    <!-- Kod -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('Code')">Kod</th>
                    <!-- Typ -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('ToolTypeId')">Typ</th>
                    <!-- Model -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('Name')">Nazwa</th>
                    <!-- Producent -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">Parametry</th>
                    <!-- Uwagi -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">Opis</th>
                    <th></th>
                </tr>


                <tr ng-repeat="Tool in $ctrl.Items.Tools" ng-show="Tool.Visible"
                    ng-class="{'trActiveItem': Tool.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    class="trItemOnList"
                    ng-click="$ctrl.SetActiveItem(Tool.Id)">
                    <!-- Id -->
                    <td class="table-cell-non-clickable">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Tool.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Tool.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Tool.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Tool.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Kod -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.CodeColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Tool.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Tool.Code}}</div>
                    </td>
                    <!-- Typ -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.TypeColumnWidth}}" class="divItemOnList"
                             ng-class="{'divItemOnList-Active': Tool.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Tool.ToolTypeId | getToolTypeName:$ctrl.Items.ToolTypes}}</div>
                    </td>
                    <!-- Nazwa -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Tool.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Tool.Name}}</div>
                    </td>
                    <!-- Parametry -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.ParametersColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Tool.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Parameter in Tool.Parameters">
                                <span>{{(Parameter.ParameterId | getParameterName:$ctrl.Items.Parameters) + ": " + Parameter.Value + ((Parameter.ParameterId | getParameterUnit:$ctrl.Items.Parameters) || '')}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Opis -->
                    <td class="table-cell-non-clickable tdNotes"
                        data-divId="{{'tdNotes'+Tool.Id}}"
                        data-ToolId="{{Tool.Id}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        {{Tool.Desc}}
                    </td>
                    <td></td>
                </tr>

            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>