﻿<div class="stretch-relative-block">
    <div ng-repeat="Column in $ctrl.Dictionary.ColumnsNames"
         class="row index-checkbox-container-horizontal"
         ng-show="Column.canHide === true">
        <div class="col-sm-12 index-checkbox-container">
            <input class="index-checkbox"
                   type="checkbox" 
                   ng-model="$ctrl.ColumnsVisibility[$index]"
                   ng-change="$ctrl.OnColumnVisibilityChange()"/>
        </div>
        <span>{{Column.Name}}</span>
    </div>
</div>