﻿<div style="position: absolute; display: block; left: 10px; top: 0px;">
    <form class="header-search pull-right">
        
        <input type="text" name="param" 
               placeholder="Szukaj w tabeli..." 
               ng-model="$ctrl.Model" 
               ng-change="$ctrl.universalFilterChanged()">
        <button type="button" 
                ng-click="$ctrl.universalFilterReset()">
            <i class="fa fa-search" ng-if="$ctrl.Model === ''"></i>
            <i class="fa fa-times txt-color-red" ng-if="$ctrl.Model != ''"></i>
        </button>
    </form>
</div>
