﻿<div class="pinned-nav-buttons"
     style="position: absolute; display: block; top: 49px; right: 0; width: auto; height: 60px; z-index: 905; padding-top: 1em; padding-right: 1em;">
    <div>
        <div style="display: inline; margin-left: 1em; width: 8em;">
            <h2 style="display: inline; margin: 0;" class="ribbon-text">{{ $ctrl.ItemsCount }}</h2>
        </div>
        <div style="display: inline; margin-left: 1em;">
            <div ng-repeat="ButtonsGroup in $ctrl.Dictionary.LeftButtonsGroups"
                 class="index-header-icons-horizontal-container" style="display: inline;">
                <div ng-repeat="Button in ButtonsGroup.Buttons"
                     ng-show="Button.IsVisible();"
                     class="batat-icon-large-container batat-icon-large-container-animate" title="{{Button.Title}}">
                    <a class="stretch-absolute center-content-both" ng-href="{{Button.Href()}}" ng-click="Button.Click()">
                        <div class="batat-icon batat-icon-animate {{Button.ImageClass}}"></div>
                    </a>
                </div>
            </div>
            <div class="batat-icon-large-container batat-icon-large-container-animate" title="Zwiń wszystkie">
                <a class="stretch-absolute center-content-both" href-void ng-click="$ctrl.ClearExpanded();">
                    <div class="batat-icon batat-icon-animate batat-icon-collapse-all"></div>
                </a>
            </div>
        </div>
        <div style="display: inline; margin-left: 3em;">
            <div ng-repeat="ButtonsGroup in $ctrl.Dictionary.RightButtonsGroups"
                 class="index-header-icons-horizontal-container" style="display: inline; margin-left: 1em;">
                <div ng-repeat="Button in ButtonsGroup.Buttons"
                     ng-show="Button.IsVisible();" style="margin-left: 0.3em;"
                     class="batat-icon-large-container batat-icon-large-container-animate" title="{{Button.Title}}">
                    <a class="stretch-absolute center-content-both" ng-href="{{Button.Href()}}">
                        <div class="batat-icon batat-icon-animate {{Button.ImageClass}}"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
