﻿<div class="index-sidebar-content">
    <div style="position: relative; display: block;">
        <index-universal-filter ng-func-update-universal-filter="$ctrl.UpdateUniversalFilter(UniversalFilter)"
                                ng-func-universal-filter-changed="$ctrl.FilterItems()"
                                ></index-universal-filter>
        <h3>Filtry</h3>
        <!-- Groups filter -->
        <div class="row" ng-if="$ctrl.isFilterPresent('GroupIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.GroupIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie grupy</option>
                    <option ng-repeat="item in $ctrl.Groups" value="{{ item.GroupId }}">{{ item.GroupId + " - " + item.Name + " - " + item.Code }}</option>
                </select>
            </div>
        </div>
        <!-- Customers -->
        <div class="row" ng-if="$ctrl.isFilterPresent('SubjectIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.SubjectIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszyscy odbiorcy</option>
                    <option ng-repeat="item in $ctrl.Subjects" value="{{ item.SubjectId }}">{{ item.SubjectId + " - " + item.Name }}</option>
                </select>
            </div>
        </div>
        <!-- Employees -->
        <div class="row" ng-if="$ctrl.isFilterPresent('EmployeeIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.EmployeeIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie osoby odp.</option>
                    <option ng-repeat="item in $ctrl.Employees" value="{{ item.EmployeeId }}">{{ item.Name }}</option>
                </select>
            </div>
        </div>
        <!-- OrderStateId -->
        <div class="row" ng-if="$ctrl.isFilterPresent('OrderStateIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.OrderStateIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie stany zamówienia</option>
                    <option ng-repeat="item in $ctrl.OrderStates" value="{{ item.OrderStateId }}">{{ item.Name }}</option>
                </select>
            </div>
        </div>
        <!-- PriorityId -->
        <div class="row" ng-if="$ctrl.isFilterPresent('PriorityIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.PriorityIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie priorytety</option>
                    <option value="0">Zwykły</option>
                    <option value="1">Wysoki</option>
                </select>
            </div>
        </div>
        <!-- FixedCostCategory -->
        <div class="row" ng-if="$ctrl.isFilterPresent('FixedCostCategoryIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.FixedCostCategoryIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All">Wszystkie kategorie</option>
                    <option ng-repeat="item in $ctrl.FixedCostCategories" value="{{ item.FixedCostCategoryId }}">{{ item.FixedCostCategoryId + " - " + item.Name }}</option>
                </select>
            </div>
        </div>
        <!-- FixedCostType -->
        <div class="row" ng-if="$ctrl.isFilterPresent('FixedCostTypeIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.FixedCostTypeIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All">Wszystkie rodzaje</option>
                    <option ng-repeat="item in $ctrl.FixedCostTypes" value="{{ item.FixedCostTypeId }}">{{ item.FixedCostTypeId + " - " + item.Name }}</option>
                </select>
            </div>
        </div>
        <!-- isRecurring -->
        <div class="row" ng-if="$ctrl.isFilterPresent('isRecurringFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.isRecurringFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All">Wszystkie typy powtarzania</option>
                    <option value="true">Powtarzające się</option>
                    <option value="false">Jednorazowe</option>
                </select>
            </div>
        </div>
        <!-- Period -->
        <div class="row" ng-if="$ctrl.isFilterPresent('PeriodFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.PeriodFilter" ng-change="$ctrl.FilterItems();">
                    <option value="dziennie">Kwota dziennie</option>
                    <option value="tygodniowo">Kwota tygodniowo</option>
                    <option value="miesięcznie">Kwota miesięcznie</option>
                    <option value="kwartalnie">Kwota kwartalnie</option>
                    <option value="rocznie">Kwota rocznie</option>
                </select>
            </div>
        </div>
        <!-- Machine Type -->
        <div class="row" ng-if="$ctrl.isFilterPresent('MachineTypeIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.MachineTypeIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie typy</option>
                    <option ng-repeat="item in $ctrl.MachineTypes" value="{{ item.MachineTypeId }}">{{ item.MachineTypeId + " - " + item.Name + " - " + item.Code }}</option>
                </select>
            </div>
        </div>
        <!-- Material Type -->
        <div class="row" ng-if="$ctrl.isFilterPresent('MaterialTypeIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.MaterialTypeIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie typy</option>
                    <option ng-repeat="item in $ctrl.MaterialTypes" value="{{ item.MaterialTypeId }}">{{ item.MaterialTypeId + " - " + item.Name + " - " + item.Code }}</option>
                </select>
            </div>
        </div>
        <!-- Parameters -->
        <div class="row" ng-if="$ctrl.isFilterPresent('ParameterIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.ParameterIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie parametry</option>
                    <option ng-repeat="item in $ctrl.Parameters" value="{{ item.ParameterId }}">{{ item.ParameterId + " - " + item.Name + " - " + item.Unit }}</option>
                </select>
            </div>
        </div>
        <!-- Parameter From and To -->
        <div class="row" ng-if="$ctrl.isFilterPresent('ParameterFromFilter')">
            <br />
            <div class="col-sm-12">
                <div class="row form-group">
                    <label class="col-sm-3"><b>Parametr</b></label>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3"><span class="">od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.ParameterFromFilter" ng-change="$ctrl.FilterItems()"
                               ng-disabled="$ctrl.ViewState.ViewSettings.ParameterIdFilter == 'All'"
                               class="form-control filter-input" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.ParameterToFilter" ng-change="$ctrl.FilterItems()"
                               ng-disabled="$ctrl.ViewState.ViewSettings.ParameterIdFilter == 'All'"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Technology -->
        <div class="row" ng-if="$ctrl.isFilterPresent('TechnologyIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.TechnologyIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie technologie</option>
                    <option ng-repeat="item in $ctrl.Technologies" value="{{ item.TechnologyId }}">{{ item.TechnologyId + " - " + item.Name + " - " + item.Code }}</option>
                </select>
            </div>
        </div>
        <!-- Part filter -->
        <div class="row" ng-if="$ctrl.isFilterPresent('PartIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.PartIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie detale</option>
                    <option ng-repeat="item in $ctrl.Parts" value="{{ item.PartId }}">{{item.PartId + " - " + item.Name + " - " + item.Code}}</option>
                </select>
            </div>
        </div>
        <!-- Operation Type -->
        <div class="row" ng-if="$ctrl.isFilterPresent('OperationTypeIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.OperationTypeIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie typy operacji</option>
                    <option ng-repeat="item in $ctrl.OperationTypes" value="{{ item.OperationTypeId }}">{{ item.OperationTypeId + " - " + item.Name + " - " + item.Code }}</option>
                </select>
            </div>
        </div>
        <!-- Subject Type -->
        <div class="row" ng-if="$ctrl.isFilterPresent('SubjectTypeFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.SubjectTypeFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie typy podmiotów</option>
                    <option value="Customers" selected="selected">Odbiorcy</option>
                    <option value="Suppliers" selected="selected">Dostawcy</option>
                    <option value="Other" selected="selected">Inne</option>
                </select>
            </div>
        </div>
        <!-- Tool Type filter -->
        <div class="row" ng-if="$ctrl.isFilterPresent('ToolTypeIdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div style="position: relative;" class="col-sm-12">
                <select ng-select2 style="width:100%" class="select2" ng-model="$ctrl.ViewState.ViewSettings.ToolTypeIdFilter" ng-change="$ctrl.FilterItems()">
                    <option value="All" selected="selected">Wszystkie typy</option>
                    <option ng-repeat="item in $ctrl.ToolTypes" value="{{ item.Id }}">{{ item.Id + " - " + item.Name + " - " + item.Code }}</option>
                </select>
            </div>
        </div>

        <br />
        <!-- Id From and To -->
        <div class="row" ng-if="$ctrl.isFilterPresent('IdFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Id</b></label>
                </div>
                <div class="row">
                    <div class="col-sm-3"><span>Zakresy:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.IdFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Receive Date -->
        <div class="row" ng-if="$ctrl.isFilterPresent('ReceiveDateFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Data wpłynięcia</b></label>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.ReceiveDateFromFilter" ng-change="$ctrl.FilterItems()"
                               id="ReceiveDateFrom_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.ReceiveDateToFilter" ng-change="$ctrl.FilterItems()"
                               id="ReceiveDateTo_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Accomplish Date -->
        <div class="row" ng-if="$ctrl.isFilterPresent('AccomplishDateFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Termin wykonania</b></label>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.AccomplishDateFromFilter" ng-change="$ctrl.FilterItems()"
                               id="AccomplishDateFrom_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.AccomplishDateToFilter" ng-change="$ctrl.FilterItems()"
                               id="AccomplishDateTo_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Delivery Date -->
        <div class="row" ng-if="$ctrl.isFilterPresent('DeliveryDateFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Termin dostawy</b></label>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.DeliveryDateFromFilter" ng-change="$ctrl.FilterItems()"
                               id="DeliveryDateFrom_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.DeliveryDateToFilter" ng-change="$ctrl.FilterItems()"
                               id="DeliveryDateTo_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Date Filter -->
        <div class="row" ng-if="$ctrl.isFilterPresent('StartDateFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Data powstania</b></label>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.StartDateFromFilter" ng-change="$ctrl.FilterItems()"
                               id="StartDateFrom_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.StartDateToFilter" ng-change="$ctrl.FilterItems()"
                               id="StartDateTo_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Stop Date Filter -->
        <div class="row" ng-if="$ctrl.isFilterPresent('StopDateFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Data wygaśnięcia</b></label>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.StopDateFromFilter" ng-change="$ctrl.FilterItems()"
                               id="StopDateFrom_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
                <div class="row datepicker-row" style="position: relative;">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-date-picker ng-model="$ctrl.ViewState.ViewSettings.StopDateToFilter" ng-change="$ctrl.FilterItems()"
                               id="StopDateTo_Input" class="datepicker-input form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Amount From and To -->
        <div class="row" ng-if="$ctrl.isFilterPresent('AmountFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Kwota</b></label>
                </div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.AmountFromFilter" ng-change="$ctrl.FilterItems()"
                               class="datepicker-input form-control filter-input" />
                    </div>
                </div>
                <div class="row" style="position: relative;">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.AmountToFilter" ng-change="$ctrl.FilterItems()"
                               class="datepicker-input form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- AmountPerPeriod From and To -->
        <div class="row" ng-if="$ctrl.isFilterPresent('AmountPerPeriodFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Kwota {{$ctrl.ViewState.ViewSettings.PeriodFilter}}</b></label>
                </div>
                <div class="row">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.AmountPerPeriodFromFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.AmountPerPeriodToFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Period From and To -->
        <div class="row" ng-if="$ctrl.isFilterPresent('PeriodFromFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-12"><b>Okres (mies.)</b></label>
                </div>
                <div class="row">
                    <div class="col-sm-3"><span>od:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.PeriodFromFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><span>do:</span></div>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.PeriodToFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>

        <br />
        <!-- Name -->
        <div class="row" ng-if="$ctrl.isFilterPresent('NameFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Nazwa:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.NameFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Code -->
        <div class="row" ng-if="$ctrl.isFilterPresent('CodeFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Kod:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.CodeFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="row" ng-if="$ctrl.isFilterPresent('ModelFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Model:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.ModelFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Manufacturer -->
        <div class="row" ng-if="$ctrl.isFilterPresent('ManufacturerFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Producent:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.ManufacturerFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Division -->
        <div class="row" ng-if="$ctrl.isFilterPresent('DivisionFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Dział:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.DivisionFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Position -->
        <div class="row" ng-if="$ctrl.isFilterPresent('PositionFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Stanowisko:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.PositionFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Function -->
        <div class="row" ng-if="$ctrl.isFilterPresent('FunctionFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Funkcja:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.FunctionFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Phones -->
        <div class="row" ng-if="$ctrl.isFilterPresent('PhonesFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Telefony:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.PhonesFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- eMail -->
        <div class="row" ng-if="$ctrl.isFilterPresent('eMailFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>eMail:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.eMailFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Unit -->
        <div class="row" ng-if="$ctrl.isFilterPresent('UnitFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Jednostka:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.UnitFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- ShortName -->
        <div class="row" ng-if="$ctrl.isFilterPresent('ShortNameFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Skrót:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.ShortNameFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- VATRegNum -->
        <div class="row" ng-if="$ctrl.isFilterPresent('VATRegNumFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>NIP:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.VATRegNumFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- WWW -->
        <div class="row" ng-if="$ctrl.isFilterPresent('WWWFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>WWW:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.WWWFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Address -->
        <div class="row" ng-if="$ctrl.isFilterPresent('AddressFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Adres:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.AddressFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Phone -->
        <div class="row" ng-if="$ctrl.isFilterPresent('PhoneFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Telefon:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.PhoneFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Desc -->
        <div class="row" ng-if="$ctrl.isFilterPresent('DescFilter')">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <div class="row">
                    <label class="col-sm-3"><b>Opis:</b></label>
                    <div class="col-sm-offset-2 col-sm-7">
                        <input ng-model="$ctrl.ViewState.ViewSettings.DescFilter" ng-change="$ctrl.FilterItems()"
                               class="form-control filter-input" />
                    </div>
                </div>
            </div>
        </div>

        <br />
        <!-- Columns Visibility -->
        <div class="row">
            <div class="col-sm-12"><hr class="horizontal-ruler-in-filtering" /></div>
            <div class="col-sm-12">
                <index-columns-visibility ng-data-dictionary="$ctrl.ColumnsAndPropertiesNames"
                                          ng-data-columns-visibility="$ctrl.ViewState.ViewSettings.ColumnsVisibility"
                                          ng-func-on-column-visibility-change="$ctrl.OnColumnVisibilityChange()"></index-columns-visibility>
            </div>
        </div>

    </div>
    <div style="position: relative; display: block;">
        <index-sidebar-buttons ng-data-view-name="$ctrl.ViewName"
                               ng-data-view-state="$ctrl.ViewState"></index-sidebar-buttons>
    </div>
    
</div>