﻿<div class="index-sidebar-buttons">
        <div class="batat-icon-large-container batat-icon-large-container-animate" ng-click="$ctrl.QueryViewSettings();" title="Mój widok">
            <a class="stretch-absolute center-content-both">
                <div class="batat-icon batat-icon-animate batat-icon-query-view-settings"></div>
            </a>
        </div>
        <div class="batat-icon-large-container batat-icon-large-container-animate" title="Zapisz jako mój widok">
            <a class="stretch-absolute center-content-both">
                <div class="batat-icon batat-icon-animate batat-icon-save-view-settings" ng-click="$ctrl.SaveViewSettings();"></div>
            </a>
        </div>
        <div class="batat-icon-large-container batat-icon-large-container-animate" title="Wyczyść widok">
            <a class="stretch-absolute center-content-both">
                <div class="batat-icon batat-icon-animate batat-icon-reset-view-settings" ng-click="$ctrl.ClearViewState();"></div>
            </a>
        </div>
</div>