﻿<div class="table" style="table-layout:fixed;">
    <div>
        <div ng-repeat="Column in Columns"
             class="{{Column.HeaderClass}}" style="width:{{Column.Width}}"
             ng-click="SortItems({{Column.PropertyName}})"
             ng-show="Column.isVisible">
            <div>{{Column.Name}}</div>
        </div>
    </div>

    <div ng-repeat="Item in Items" ng-show="Item.isVisible">
        <div
            class="row-fluid trItemOnList" ng-class="{'trItemExpanded': Item.isExpanded, 'trActiveItem': Item.Id==ActiveId}"
            ng-click="ChangeActiveId(Item.Id)" ng-dblclick="Item.isExpanded=!Item.isExpanded"
            style="height:5em !important; max-height:5em !important; min-height:5em !important;">

            <div ng-repeat="Column in Columns"
                 class="{{Column.CellClass}}"
                 ng-click="{{Ctrl.CellClicked($parent.$index, $index)}}"
                 style="width:{{Column.Width}}" ng-class="{'divItemOnList-Active': Item.Id==ActiveId}"
                 >{{Item[Column.PropertyName]}}</div>
        </div>

        <div ng-class="{'trItemExpanded': Item.isExpanded"
             ng-show="Item.isExpanded">
            <div>
                <div><br /></div>
                <div><label>Produkty</label></div>
                <div><br /></div>
            </div>
            <div>
                <div class="row-fluid">
                    <div ng-show="Order.Products.length > 0">
                        <div><br /></div>
                        <div class="container-fluid table">
                            <div class="row-fluid">
                                <div class="col-md-2">Id</div>
                                <div class="col-md-2">Kod</div>
                                <div class="col-md-6">Nazwa</div>
                                <div class="col-md-2">Ilość</div>
                            </div>
                            <div ng-repeat="Product in Order.Products" class="row-fluid trProductOnList">
                                <div class="col-md-2">{{Product.ProductId}}</div>
                                <div class="col-md-2">{{Product.ProductId | getProductCode:Ctrl.Products}}</div>
                                <div class="col-md-6">{{Product.ProductId | getProductName:Ctrl.Products}}</div>
                                <div class="col-md-2">{{Product.Amount}}</div>
                            </div>
                        </div>
                        <div><br /></div>
                        <div><hr /></div>
                        <div><br /></div>
                    </div>
                </div>
            </div>
            <div>
                <label style="padding:0px; margin:0px; width:{{Ctrl.ViewData.OrderStateColumnWidth}}; height:100%; background-color:{{Order.StateId | getOrderStateColor}}">
                </label>
            </div>
            <div></div>
        </div>
    </div>

</div>