﻿<!-- RIBBON -->
<edit-ribbon ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"
             ng-data-is-edited="!$ctrl.isEditDisabled.Never"
             ng-func-reset-active-item="$ctrl.ResetActiveItem()"
             ng-func-save-active-item="$ctrl.SaveActiveItem()"
             ng-data-is-model-valid="$ctrl.isModelValid"></edit-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section widget-grid id="widget-grid">
        <article class="edit-content">

            <edit-header ng-data-is-edited="!$ctrl.isEditDisabled"
                         ng-data-is-new="($ctrl.ActiveItem.Id == 0)" ng-data-item-name="Operacja"
                         ng-data-item-id="$ctrl.ActiveItem.Id"
                         ng-data-go-back-url="#/Operations"
                         ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"></edit-header>

            <edit-server-validation-error ng-data-server-validation-error="$ctrl.ServerValidationError"></edit-server-validation-error>

            <form class="smart-form" method="post" action="{{'/Operations/Edit?Id='+$ctrl.ActiveItem.Id}}">
                <div class="form-horizontal">

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Code" ng-data-label="Kod"
                                     ng-data-input-name="Code" ng-data-is-edit-disabled="true"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <groups-table-edit ng-data-item-groups="$ctrl.ActiveItem.Groups" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                       ng-func-on-change="$ctrl.EditedItemChanged()"></groups-table-edit>

                    <select-list-edit ng-data-model="$ctrl.ActiveItem.OperationTypeId" ng-data-label="Typ operacji"
                                      ng-data-placeholder="Wybierz typ operacji..."
                                      ng-data-input-name="OperationTypeId" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                      ng-data-select-options="$ctrl.SelectOptions.OperationType"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"
                                      ng-data-is-required="true"
                                      ng-data-validation-property="$ctrl.ValidationObject.OperationTypeId"
                                      ng-data-can-clear="false"></select-list-edit>

                    <textbox-edit ng-data-model="$ctrl.ActiveItem.Desc" ng-data-label="Opis"
                                  ng-data-input-name="Desc" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                  ng-func-on-change="$ctrl.EditedItemChanged()"></textbox-edit>

                    <text-input-edit ng-data-model="($ctrl.ActiveItem.PartId | getPartName:$ctrl.Items.Parts)" ng-data-label="Detal"
                                     ng-data-input-name="" ng-data-is-edit-disabled="true"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <parameters-table-edit ng-data-item-parameters="$ctrl.ActiveItem.Parameters"
                                           ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                           ng-func-on-change="$ctrl.EditedItemChanged()"></parameters-table-edit>

                    <tools-table-edit ng-data-item-tools="$ctrl.ActiveItem.Tools" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"></tools-table-edit>

                    <materials-table-edit ng-data-item-materials="$ctrl.ActiveItem.Materials"
                                          ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                          ng-func-on-change="$ctrl.EditedItemChanged()"></materials-table-edit>

                    <textbox-edit ng-data-model="$ctrl.ActiveItem.ToolsDesc" ng-data-label="Opis dotyczący narzędzi / materiałów"
                                  ng-data-input-name="ToolsDesc" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                  ng-func-on-change="$ctrl.EditedItemChanged()"></textbox-edit>

                    <machines-times-costs-table-edit ng-data-item-machines-times-costs="$ctrl.ActiveItem.MachinesTimesCosts"
                                                     ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                                     ng-func-on-change="$ctrl.EditedItemChanged()"></machines-times-costs-table-edit>

                    <notes-table-edit ng-data-item-notes="$ctrl.ActiveItem.Notes" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"></notes-table-edit>

                </div>
            </form>

            <changes-table-display ng-data-item-changes="$ctrl.ActiveItem.Changes"></changes-table-display>
        </article>
    </section>
</div>