﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="false"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}">Nr</div>
                    </th>
                    <!-- Grupy -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}">Grupy</div>
                    </th>
                    <!-- Kod -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('Code')">
                        <div style="width:{{$ctrl.ViewData.CodeColumnWidth}}">Kod</div>
                    </th>
                    <!-- Nazwa detalu -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]" ng-click="$ctrl.SortItems('PartId')">
                        <div style="width:{{$ctrl.ViewData.PartColumnWidth}}">Detal</div>
                    </th>
                    <!-- Technologia -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('TechnologyId')">
                        <div style="width:{{$ctrl.ViewData.TechnologyColumnWidth}}">Technologia</div>
                    </th>
                    <!-- Typ -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('OperationTypeId')">
                        <div style="width:{{$ctrl.ViewData.TypeColumnWidth}}">Typ</div>
                    </th>
                    <!-- Uwagi -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.NotesColumnWidth}}">Uwagi</div>
                    </th>
                    <th></th>
                </tr>


                <tr ng-repeat="Operation in $ctrl.Items.Operations" ng-show="Operation.Visible"
                    ng-class="{'trActiveItem': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    class="trItemOnList"
                    ng-click="$ctrl.SetActiveItem(Operation.Id)">
                    <!-- Id -->
                    <td class="table-cell-non-clickable">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operation.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Operation.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Kod -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.CodeColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operation.Code}}</div>
                    </td>
                    <!-- Nazwa detalu -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.PartColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operation.PartId | getPartName:$ctrl.Items.Parts}}</div>
                    </td>
                    <!-- Nazwa technologii -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.TechnologyColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operation.TechnologyId | getTechnologyName:$ctrl.Items.Technologies}}</div>
                    </td>
                    <!-- Typ -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.TypeColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operation.OperationTypeId | getOperationTypeName:$ctrl.Items.OperationTypes}}</div>
                    </td>
                    <!-- Uwagi -->
                    <td class="table-cell-non-clickable tdNotes"
                        data-divId="{{'tdNotes'+Operation.Id}}"
                        data-OperationId="{{Operation.Id}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.NotesColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operation.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">Uwagi:{{Operation.Notes.length}}</div>
                    </td>
                    <td></td>
                </tr>

            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>