/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.dataTable tbody tr:hover {
    background-color: rgba(160,158,156,0.6);
}

.datatable-row-selected {
    background-color: rgba(160,158,156,1);
}

.ribbon-text {
    color: #E4E4E4;
}

.ribbon {
    height: 7vh;
    vertical-align:central;
}

#ribbon {
    padding-top: 1em;
}

#content {
    padding-top: 2em;
    margin-right: 3vw;
    color: black;
    height: 75vh;
    overflow: auto;
}

.demo {
    z-index: 1001;
}