/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

html {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) {

html {
    margin-left: 0;
    margin-right: 0;
}


}
/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {

html {
    margin-left: 0;
    margin-right: 0;
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1223px) {

html {
    margin-left: 10vw;
    margin-right: 10vw;
}

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

html {
    margin-left: 20vw;
    margin-right: 20vw;
}

}

/* Large Desktops and laptops ----------- */
@media only screen  and (min-width : 2000px) {

html {
    margin-left: 30vw;
    margin-right: 30vw;
}

}

#content {
    padding-top: 4em;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content::-webkit-scrollbar { 
    display: none; 
}

.operator-trolley-widget-body {
    min-height: 40vh;
}

.smart-timeline-time {
    width: 240px;
    padding-right: 100px;
}

.smart-timeline-icon {
    left: 130px;
    width: 40px;
    height: 40px;
}

.smart-timeline-content {
    margin-left: 240px;
}

.smart-timeline-list:after {
    display: none;
}

.smart-timeline-icon {
    top: 2px;
}

.nav-tabs.bordered+.tab-content {
    border: none;
}

.smart-timeline-list li {
    padding: 0;
}

.operator-task-button {
    vertical-align: central;
    text-align: center;
    font-size: 1.5em;
    width: 5em;
    height: 3em;
}


.font-xl {
    font-size: 4em;
}

.font-l {
    font-size: 3em;
}

.MessageBoxContainer {
    min-height: 40vh;
}

.bg-color-gray {
    background-color: #8c8c8c!important
}

.bg-color-grayLight {
    background-color: #d2d2d2!important
}

.bg-color-greenLightPlusGlass {
    background-color: rgba(205, 219, 168, 0.5)!important
}



.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

/* when hiding the picture */
.ng-hide-add         { animation:0.4s zipIn ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.4s zipOut ease; }

@keyframes zipIn {
  0% {
      background-color: transparent;
      opacity: 1;
  }

  100% {
      background-color: lightsalmon;
      opacity: 0;
  }
}
@keyframes zipOut {
  0% {
      background-color: lightsalmon;
      opacity: 0;
  }

  100% {
      background-color: transparent;
      opacity: 1;
  }
}


/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 0;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}


.machine-state-stop {
    color: grey
}

.machine-state-running {
    color: lawngreen
}

.machine-state-error {
    color: orangered
}