﻿<!-- RIBBON -->
<edit-ribbon ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"
             ng-data-is-edited="!$ctrl.isEditDisabled.Never"
             ng-func-reset-active-item="$ctrl.ResetActiveItem()"
             ng-func-save-active-item="$ctrl.SaveActiveItem()"
             ng-data-is-model-valid="$ctrl.isModelValid"></edit-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section widget-grid id="widget-grid">
        <article class="edit-content">

            <edit-header ng-data-is-edited="!$ctrl.isEditDisabled"
                         ng-data-is-new="(($ctrl.ActiveItem.Id == null) || ($ctrl.ActiveItem.Id == 0))"
                         ng-data-item-name="Koszt"
                         ng-data-item-id="$ctrl.ActiveItem.Id"
                         ng-data-go-back-url="#/FixedCosts"
                         ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"></edit-header>

            <edit-server-validation-error ng-data-server-validation-error="$ctrl.ServerValidationError"></edit-server-validation-error>

            <form class="smart-form" method="post" action="{{'/FixedCosts/Edit?Id='+$ctrl.ActiveItem.Id}}">
                <div class="form-horizontal">
                    <div>
                        <input type="hidden" name="FixedCostId" value="{{$ctrl.ActiveItem.Id}}" />
                    </div>

                    <groups-table-edit ng-data-item-groups="$ctrl.ActiveItem.Groups" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                       ng-func-on-change="$ctrl.EditedItemChanged()"></groups-table-edit>

                    <date-input-edit ng-data-model="$ctrl.ActiveItem.StartDate" ng-data-label="Data powstania"
                                     ng-data-input-name="StartDate" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-func-on-change="$ctrl.EditedItemChanged()"
                                     ng-data-is-required="true"
                                     ng-data-validation-property="$ctrl.ValidationObject.StartDate"></date-input-edit>

                    <date-input-edit ng-data-model="$ctrl.ActiveItem.StopDate" ng-data-label="Data zakończenia"
                                     ng-data-input-name="StopDate" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-func-on-change="$ctrl.EditedItemChanged()"
                                     ng-data-is-required="false"
                                     ng-data-validation-property="$ctrl.ValidationObject.StopDate"></date-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Amount" ng-data-label="Kwota"
                                     ng-data-input-name="Amount" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <checkbox-input-edit ng-data-model="$ctrl.ActiveItem.isRecurring" ng-data-label="Okresowy?"
                                         ng-data-input-name="isRecurring" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                         ng-func-on-change="$ctrl.EditedItemChanged()"></checkbox-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Period" ng-data-label="Okres"
                                     ng-data-input-name="Period" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <textbox-edit ng-data-model="$ctrl.ActiveItem.Desc" ng-data-label="Opis"
                                  ng-data-input-name="Desc" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                  ng-func-on-change="$ctrl.EditedItemChanged()"></textbox-edit>



                </div>
            </form>

            <changes-table-display ng-data-item-changes="$ctrl.ActiveItem.Changes"></changes-table-display>
        </article>
    </section>
</div>