﻿.fixed-cost-type-select-box {
    display: inline-block;
}

.fixed-cost-type-component-outer-div {
    border-style: solid;
    border-width: medium;
    border-color: burlywood;
    border-radius: 0.5em;
    background-color: #FEFAF1; 
    padding: 10px;
    height: 20em; 
    max-height: 20em; 
    min-height: 20em; 
    width: 20em; 
    max-width: 20em; 
    min-width: 20em; 
    overflow-y: auto;
    cursor: default;
    
}

.fixed-cost-type-component-list-item {
    margin: 0.4em;
}

.fixed-cost-type-component-list-item:hover {
    background-color: #E1DDD5;
}

.fixed-cost-type-component-list-item-active {
    background-color: #E1DDD5;
}