﻿
<div class="fixed-cost-type-component-outer-div">
    <div ng-repeat="item in modelData" class="fixed-cost-type-component-list-item"
         ng-click="changeActiveId({activeId: item.Id})" ng-class="{'fixed-cost-type-component-list-item-active': activeId==item.Id}">
        <div style="display: inline-block;">{{item.Id}}</div>
        <div style="display: inline-block;">{{item.Name}}</div>
        <br/>
    </div>
</div>
