﻿<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()" 
              ng-data-are-items-expandable="false"></index-ribbon>
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.IdColumnWidth}}"
                        ng-click="$ctrl.SortItems('Id')">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}">Nr</div>
                    </th>
                    <!-- Grupy -->
                    <th class="table-header table-header-non-clickable" style="width:{{$ctrl.ViewData.GroupsColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}">Grupy</div>
                    </th>
                    <!-- Data powstania -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.StartDateColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('StartDate')">
                        <div style="width:{{$ctrl.ViewData.StartDateColumnWidth}}">Data<br />powstania</div>
                    </th>
                    <!-- Data zakończenia -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.StopDateColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('StopDate')">
                        <div style="width:{{$ctrl.ViewData.StopDateColumnWidth}}">Data<br />wygaśnięcia</div>
                    </th>
                    <!-- Kategoria -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.CategoryColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('CategoryId')">
                        <div style="width:{{$ctrl.ViewData.CategoryColumnWidth}}">Kategoria</div>
                    </th>
                    <!-- Rodzaj -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.TypeColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]" ng-click="$ctrl.SortItems('TypeId')">
                        <div style="width:{{$ctrl.ViewData.TypeColumnWidth}}">Rodzaj</div>
                    </th>
                    <!-- Kwota -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.AmountColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]" ng-click="$ctrl.SortItems('Amount')">
                        <div style="width:{{$ctrl.ViewData.AmountColumnWidth}}">Kwota</div>
                    </th>
                    <!-- Czy powtarza się -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.isRecurringColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]" ng-click="$ctrl.SortItems('isRecurring')">
                        <div style="width:{{$ctrl.ViewData.isRecurringColumnWidth}}">Okresowy/<br />jednorazowy</div>
                    </th>

                    <!-- Okres -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.PeriodColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]" ng-click="$ctrl.SortItems('Period')">
                        <div style="width:{{$ctrl.ViewData.PeriodColumnWidth}}">Na okres<br />(mies.)</div>
                    </th>

                    <!-- Opis -->
                    <th class="table-header table-header-non-clickable" style="width:{{$ctrl.ViewData.DescColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[8]">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}">Opis</div>
                    </th>
                    <!-- Kwota na okres -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.AmountPerPeriodColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[9]" ng-click="$ctrl.SortItems('AmountPerPeriod')">
                        <div style="width:{{$ctrl.ViewData.AmountPerPeriodColumnWidth}}">Kwota<br />{{$ctrl.ViewState.ViewSettings.PeriodFilter}}</div>
                    </th>
                    <th></th>
                </tr>

                <tr>
                    <td></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[8]"></td>
                    <td ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[9]">
                        <div style="width:{{$ctrl.ViewData.AmountPerPeriodColumnWidth}}; font-weight: 700;" class="divItemOnList-Number">{{$ctrl.ViewState.TemporaryViewSettings.AmountPerPeriodSum | getCurrency}}</div>
                    </td>
                    <td></td>
                </tr>

                <tr ng-repeat="FixedCost in $ctrl.Items.FixedCosts" ng-show="FixedCost.Visible"
                    class="trItemOnList"
                    ng-class="{'trActiveItem': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    ng-click="$ctrl.SetActiveItem(FixedCost.Id)">
                    <!-- Id -->
                    <td class="table-cell-clickable">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in FixedCost.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Data rozpoczęcia -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.StartDateColumnWidth}}" class="divItemOnList"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.StartDate}}</div>
                    </td>
                    <!-- Data zakończenia -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.StopDateColumnWidth}}" class="divItemOnList"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <b ng-class="{'tdDateExceeded': $ctrl.CheckIfDateExceeded(FixedCost.StopDate)}">{{FixedCost.StopDate}}</b>
                        </div>
                    </td>
                    <!-- Kategoria -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.CategoryColumnWidth}}" class="divItemOnList"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.CategoryId | getFixedCostCategoryName:$ctrl.Items.FixedCostCategories}}</div>
                    </td>
                    <!-- Rodzaj -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.TypeColumnWidth}}" class="divItemOnList"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.TypeId | getFixedCostTypeName:$ctrl.Items.FixedCostTypes}}</div>
                    </td>
                    <!-- Kwota -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.AmountColumnWidth}}" class="divItemOnList divItemOnList-Number"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.Amount | getCurrency}}</div>
                    </td>

                    <!-- Czy powtarza się -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]">
                        <div style="width:{{$ctrl.ViewData.isRecurringColumnWidth}}" class="divItemOnList"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.isRecurring | getRecurringYesNo}}</div>
                    </td>
                    <!-- Okres -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]">
                        <div style="width:{{$ctrl.ViewData.PeriodColumnWidth}}" class="divItemOnList divItemOnList-Center"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.Period | getFixedCostPeriod:FixedCost.isRecurring}}</div>
                    </td>

                    <!-- Opis -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[8]">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}" class="divItemOnList divItemOnList-Desc"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.Desc}}</div>
                    </td>
                    <!-- Kwota na okres -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[9]">
                        <div style="width:{{$ctrl.ViewData.AmountPerPeriodColumnWidth}}" class="divItemOnList divItemOnList-Number"
                             ng-class="{'divItemOnList-Active': FixedCost.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{FixedCost.AmountPerPeriod | getCurrency}}</div>
                    </td>
                    <td></td>
                </tr>
            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>