﻿<!-- RIBBON -->
<edit-ribbon ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"
             ng-data-is-edited="!$ctrl.isEditDisabled.Never"
             ng-func-reset-active-item="$ctrl.ResetActiveItem()"
             ng-func-save-active-item="$ctrl.SaveActiveItem()"
             ng-data-is-model-valid="$ctrl.isModelValid"></edit-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section widget-grid id="widget-grid">
        <article class="edit-content">

            <edit-header ng-data-is-edited="!$ctrl.isEditDisabled"
                         ng-data-is-new="(($ctrl.ActiveItem.Id == null) || ($ctrl.ActiveItem.Id == 0))"
                         ng-data-item-name="Operator"
                         ng-data-item-id="$ctrl.ActiveItem.Id"
                         ng-data-go-back-url="#/Operators"
                         ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"></edit-header>

            <edit-server-validation-error ng-data-server-validation-error="$ctrl.ServerValidationError"></edit-server-validation-error>

            <form class="smart-form" method="post" action="{{'/Operators/Edit?Id='+$ctrl.ActiveItem.Id}}">
                <div class="form-horizontal">
                    <div>
                        <input type="hidden" name="OperatorId" value="{{$ctrl.ActiveItem.Id}}" />
                    </div>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Name" ng-data-label="Nazwa"
                                     ng-data-input-name="Name" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <groups-table-edit ng-data-item-groups="$ctrl.ActiveItem.Groups" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                       ng-func-on-change="$ctrl.EditedItemChanged()"></groups-table-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Position" ng-data-label="Stanowisko"
                                     ng-data-input-name="Position" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Function" ng-data-label="Funkcja"
                                     ng-data-input-name="Function" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.HourlyRate" ng-data-label="Stawka godzinowa"
                                     ng-data-input-name="HourlyRate" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-data-min="0"
                                     ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.OvertimeRate" ng-data-label="Stawka nadgodzinowa"
                                     ng-data-input-name="OvertimeRate" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-data-min="0"
                                     ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <notes-table-edit ng-data-item-notes="$ctrl.ActiveItem.Notes" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"></notes-table-edit>


                </div>
            </form>

            <changes-table-display ng-data-item-changes="$ctrl.ActiveItem.Changes"></changes-table-display>
        </article>
    </section>
</div>