﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="false"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id operatora -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">Id</th>
                    <!-- Grupy operatora -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">Grupy</th>
                    <!-- Imię i nazwisko operatora -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('Name')">Imię i Nazw.</th>
                    <!-- Stanowisko operatora -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('Position')">Stanowisko</th>
                    <!-- Funkcja Operatora -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('Function')">Funkcja</th>
                    <!-- Notes -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">Uwagi</th>
                    <th></th>
                </tr>


                <tr ng-repeat="Operator in $ctrl.Items.Operators" ng-show="Operator.Visible"
                    ng-class="{'trActiveItem': Operator.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    class="trItemOnList"
                    ng-click="$ctrl.SetActiveItem(Operator.Id)">
                    <!-- Id -->
                    <td class="table-cell-non-clickable">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Operator.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operator.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operator.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Operator.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Imię i nazwisko -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operator.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operator.Name}}</div>
                    </td>
                    <!-- Stanowisko -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.PositionColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operator.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operator.Position}}</div>
                    </td>
                    <!-- Funkcja -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.FunctionColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operator.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Operator.ReceiveDate}}</div>
                    </td>
                    <!-- Uwagi -->
                    <td class="table-cell-non-clickable tdNotes"
                        data-divId="{{'tdNotes'+Operator.Id}}"
                        data-OperatorId="{{Operator.Id}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.NotesColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Operator.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">Ilość:{{Operator.Notes.length}}</div>
                    </td>
                    <td></td>
                </tr>

            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>