﻿<!-- RIBBON -->
<edit-ribbon ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"
             ng-data-is-edited="!$ctrl.isEditDisabled.Never"
             ng-func-reset-active-item="$ctrl.ResetActiveItem()"
             ng-func-save-active-item="$ctrl.SaveActiveItem()"
             ng-data-is-model-valid="$ctrl.isModelValid"></edit-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section widget-grid id="widget-grid">
        <article class="edit-content">

            <edit-header ng-data-is-edited="!$ctrl.isEditDisabled"
                         ng-data-is-new="(($ctrl.ActiveItem.Id == null) || ($ctrl.ActiveItem.Id == 0))"
                         ng-data-item-name="Maszyna"
                         ng-data-item-id="$ctrl.ActiveItem.Id"
                         ng-data-go-back-url="#/Machines"
                         ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"></edit-header>

            <edit-server-validation-error ng-data-server-validation-error="$ctrl.ServerValidationError"></edit-server-validation-error>

            <form class="smart-form" method="post" action="{{'/Machines/Edit?Id='+$ctrl.ActiveItem.Id}}">
                <div class="form-horizontal">
                    <div>
                        <input type="hidden" name="MachineId" value="{{$ctrl.ActiveItem.Id}}" />
                    </div>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Code" ng-data-label="Kod"
                                     ng-data-input-name="Code" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <groups-table-edit ng-data-item-groups="$ctrl.ActiveItem.Groups" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                       ng-func-on-change="$ctrl.EditedItemChanged()"></groups-table-edit>

                    <select-list-edit ng-data-model="$ctrl.ActiveItem.MachineTypeId" ng-data-label="Typ maszyny"
                                      ng-data-placeholder="Wybierz typ maszyny..."
                                      ng-data-input-name="MachineTypeId" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                      ng-data-select-options="$ctrl.SelectOptions.MachineType"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"
                                      ng-data-is-required="true"
                                      ng-data-validation-property="$ctrl.ValidationObject.MachineTypeId"
                                      ng-data-can-clear="false"></select-list-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Model" ng-data-label="Model"
                                     ng-data-input-name="Model" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Manufacturer" ng-data-label="Producent"
                                     ng-data-input-name="Manufacturer" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <parameters-table-edit ng-data-item-parameters="$ctrl.ActiveItem.Parameters"
                                           ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                           ng-func-on-change="$ctrl.EditedItemChanged()"></parameters-table-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.PurchaseCost" ng-data-label="Cena zakupu"
                                     ng-data-input-name="PurchaseCost" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-data-min="0" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.AmortisationPeriod" ng-data-label="Okres amortyzacji"
                                     ng-data-input-name="AmortisationPeriod" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-data-min="0" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.UtilisationLevel" ng-data-label="Zakładany poziom wykorzystania"
                                     ng-data-input-name="UtilisationLevel" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-data-min="0" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Accessibility" ng-data-label="Dostępność"
                                     ng-data-input-name="Accessibility" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-data-min="0" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <notes-table-edit ng-data-item-notes="$ctrl.ActiveItem.Notes" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"></notes-table-edit>


                </div>
            </form>

            <changes-table-display ng-data-item-changes="$ctrl.ActiveItem.Changes"></changes-table-display>
        </article>
    </section>
</div>