﻿<!-- Widget ID (each widget will need unique ID)-->
<div style="position: relative; display: block;">
    
    <!-- Start Button -->
    <div style="position: absolute; top: -6px; left: -80px;">
        <a href-void class="btn btn-circle btn-lg txt-color-white"
           ng-class="$ctrl.StartButtonClass"
           popover-placement="right"
           popover-title="Akcje operacji"
           smart-popover-html="$ctrl.StartButtonPopoverHtml"
           popover-container-element>
            <i class="fa fa-lg" ng-class="$ctrl.StartButtonIconClass"></i>
        </a>
    </div>
    <!-- Start Button End -->

    <div id="widgetForId{{$ctrl.Trolley.Id}}"
         data-jarvis-widget
         style="margin-top: 5px;">
        <!-- widget options:
            usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"
        -->
        <header style="cursor: pointer;" ng-click="$ctrl.widgetHeaderClick()">
            <div style="position: absolute; display: block; top: 0; right: 0; height: 32px; left: 79%; padding-left: 10px; overflow: hidden;"
                 class="jarviswidget-ctrls" role="menu"
                 ng-click="$ctrl.widgetMessagesClick(); $event.stopPropagation();">
                <a style="width: 100%; height: 5em; padding-top: 3px;"
                   href="javascript:void(0);" class="button-icon no-animate" rel="tooltip"
                   title="Messages" data-placement="bottom" data-original-title="Messages">
                    <i style="font-size: 1.5em;" class="fa fa-comment-o"></i>
                </a>
            </div>

            <div style="position: absolute; display: block; top: 0; right: 20%; bottom: 0; left: 0.5em; overflow: hidden;">
                <div style="position: absolute; display: block; top: 0; left: 0; width: 63%; height: 32px; overflow: hidden;"
                     title="{{(($ctrl.Trolley.PartId | getPartProperty:'Code':$ctrl.Items.Parts) + ' - ' + ($ctrl.Trolley.PartId | getPartProperty:'Name':$ctrl.Items.Parts))}}">
                    <strong>{{(($ctrl.Trolley.PartId | getPartProperty:'Code':$ctrl.Items.Parts) + " - " + ($ctrl.Trolley.PartId | getPartProperty:'Name':$ctrl.Items.Parts))}}</strong>
                </div>
                <div style="position: absolute; display: block; top: 0; left: 65%; width: 23%; height: 22px; overflow: hidden; background-color: transparent; border: none; margin-top: 6px;">
                    <a class="progress"
                       ng-click="$event.stopPropagation();"
                       popover-placement="bottom"
                       popover-title="Ilość do wykonania"
                       popover-container-element
                       smart-popover-html="'<strong>'+$ctrl.Trolley.ToDoAmount+'</strong>'">
                        <uib-progressbar max="100" value="$ctrl.Trolley.MadePercentage">
                        </uib-progressbar>
                    </a>
                </div>
                <div style="position: absolute; display: block; top: 0; left: 90%; width: 10%; height: 32px; overflow: hidden;">
                    <strong>{{$ctrl.Trolley.MadeAmount+' / '+$ctrl.Trolley.ToDoAmount}}</strong>
                </div>
            </div>
        </header>
        <!-- widget div-->

        <div style="height: 270px; display: block; position: relative; margin-bottom: 30px;" ng-hide="$ctrl.isWidgetCollapsed">
            <!-- widget content -->
            <div class="widget-body row">

                <div class="col-sm-12">
                    <div class="row" style="padding-left: 20px; padding-right: 20px;">
                        <ul id="tabsForId{{$ctrl.Trolley.Id}}" 
                            class="nav nav-tabs bordered row">
                            <li class="active col-sm-4">
                                <a href="#content1For{{$ctrl.Trolley.Id}}"
                                   data-toggle="tab">{{$ctrl.Trolley.OperationTypeName}}</a>
                            </li>
                            <li class="col-sm-4">
                                <a href="#content2For{{$ctrl.Trolley.Id}}"
                                   data-toggle="tab">{{$ctrl.Trolley.MachineName}}</a>
                            </li>
                            <li class="col-sm-4">
                                <a href="#content3For{{$ctrl.Trolley.Id}}"
                                   data-toggle="tab">{{$root.getWord('Materials')}}</a>
                            </li>
                        </ul>
                        <div id="tabContentForId{{$ctrl.Trolley.Id}}" 
                             class="tab-content padding-10"
                             style="display: block; position: relative; overflow: auto; max-height: 150px;">
                            
                            <!-- Operation Content *************************************************************************************** -->
                            <div id="content1For{{$ctrl.Trolley.Id}}"
                                 class="tab-pane fade in active"
                                 style="height: 100%;">
                                <!-- Left tabs ********************************************************************************** -->
                                <div style="position: relative; display: block; width: 100%; height: 100%;">
                                    <div class="tabs-left">
                                        <ul class="nav nav-tabs tabs-left" id="operationLeftTabsForId{{$ctrl.Trolley.Id}}">
                                            <li class="active" style="padding: 0;">
                                                <a href="#operationLeftTab1ForId{{$ctrl.Trolley.Id}}"
                                                   data-toggle="tab">{{$root.getWord('Desc')}}</a>
                                            </li>
                                            <li style="padding: 0;">
                                                <a href="#operationLeftTab2ForId{{$ctrl.Trolley.Id}}"
                                                   data-toggle="tab">{{$root.getWord('Notes')}}</a>
                                            </li>
                                            <li style="padding: 0;">
                                                <a href="#operationLeftTab3ForId{{$ctrl.Trolley.Id}}"
                                                   data-toggle="tab">{{$root.getWord('Files')}}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="operationLeftTab1ForId{{$ctrl.Trolley.Id}}">
                                                <p>{{$ctrl.Trolley.OperationId | getOperationProperty:'Code':$ctrl.Items.Operations}}</p>
                                                <p>{{$ctrl.Trolley.OperationTypeName}}</p>
                                                <p>{{$ctrl.Trolley.OperationId | getOperationProperty:'Desc':$ctrl.Items.Operations}}</p>
                                            </div>
                                            <div class="tab-pane" id="operationLeftTab2ForId{{$ctrl.Trolley.Id}}">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Data</th>
                                                            <th>Uwaga</th>
                                                            <th>Pracownik</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="Note in ($ctrl.Trolley.OperationId | getOperationProperty:'Notes':$ctrl.Items.Operations)">
                                                            <td>{{Note.DateTime}}</td>
                                                            <td>{{Note.Note}}</td>
                                                            <td>{{Note.EmployeeId | getEmployeeProperty:'Name':$ctrl.Items.Employees}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="operationLeftTab3ForId{{$ctrl.Trolley.Id}}">
                                                <p>Pliki</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ********************************************************************************************* -->
                            </div>
                            <!-- Operation Content End *************************************************************************************** -->

                            <!-- Machine Content *************************************************************************************** -->
                            <div id="content2For{{$ctrl.Trolley.Id}}"
                                 class="tab-pane fade">
                                <!-- Left tabs ********************************************************************************** -->
                                <div style="position: relative; display: block; width: 100%; height: 100%;">
                                    <div class="tabs-left">
                                        <ul class="nav nav-tabs tabs-left" 
                                            id="machineLeftTabsForId{{$ctrl.Trolley.Id}}">
                                            <li class="active" style="padding: 0;">
                                                <a href="#machineLeftTab1ForId{{$ctrl.Trolley.Id}}"
                                                   data-toggle="tab">{{$root.getWord('Desc')}}</a>
                                            </li>
                                            <li style="padding: 0;">
                                                <a href="#machineLeftTab2ForId{{$ctrl.Trolley.Id}}"
                                                   data-toggle="tab">{{$root.getWord('Notes')}}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" 
                                                 id="machineLeftTab1ForId{{$ctrl.Trolley.Id}}">
                                                <p>{{$ctrl.Trolley.MachineId | getMachineProperty:'Code':$ctrl.Items.Machines}}</p>
                                                <p>{{($ctrl.Trolley.MachineId | getMachineProperty:'MachineTypeId':$ctrl.Items.Machines) | getMachineTypeProperty:'Name':$ctrl.Items.MachineTypes}}</p>
                                                <p>{{$ctrl.Trolley.MachineId | getMachineProperty:'Model':$ctrl.Items.Machines}}</p>
                                                <p>{{$ctrl.Trolley.MachineId | getMachineProperty:'Manufacturer':$ctrl.Items.Machines}}</p>
                                            </div>
                                            <div class="tab-pane" 
                                                 id="machineLeftTab2ForId{{$ctrl.Trolley.Id}}">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Data</th>
                                                            <th>Uwaga</th>
                                                            <th>Pracownik</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="Note in ($ctrl.Trolley.MachineId | getMachineProperty:'Notes':$ctrl.Items.Machines)">
                                                            <td>{{Note.DateTime}}</td>
                                                            <td>{{Note.Note}}</td>
                                                            <td>{{Note.EmployeeId | getEmployeeProperty:'Name':$ctrl.Items.Employees}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ********************************************************************************************* -->
                            </div>
                            <!-- Machine Content End *************************************************************************************** -->

                            <!-- Material Content *************************************************************************************** -->
                            <div id="content3For{{$ctrl.Trolley.Id}}"
                                 class="tab-pane fade">
                                <p></p>
                            </div>
                            <!-- Material Content End *************************************************************************************** -->
                        </div>
                    </div>
                </div>


                

                <!-- end widget content -->
            </div>
            <!-- Buttons -->
            <div style="position: absolute; bottom: 0; left: 0; right: 0;">
                <div style="position: absolute; bottom: -30px; left: 13px;">
                    <a href-void class="btn btn-circle btn-xl txt-color-white bg-color-blue"
                       popover-placement="right"
                       popover-title="Akcje operacji"
                       smart-popover-html="StartButtonPopoverHtml"
                       popover-container-element>
                        <i class="fa fa-print"></i>
                    </a>
                </div>
                <div style="position: absolute; bottom: -30px; right: 13px;">
                    <a href-void class="btn btn-circle btn-xl txt-color-white bg-color-orange"
                       style="margin-left: 15px;" ng-click="$ctrl.report('Error')">
                        <i class="fa fa-exclamation"></i>
                    </a>

                    <a href-void class="btn btn-circle btn-xl txt-color-white bg-color-magenta"
                       style="margin-left: 15px;" ng-click="$ctrl.report('Amount')">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
    </div>

</div>
