﻿<!-- RIBBON -->
<edit-ribbon ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"
             ng-data-is-edited="!$ctrl.isEditDisabled.Never"
             ng-func-reset-active-item="$ctrl.ResetActiveItem()"
             ng-func-save-active-item="$ctrl.SaveActiveItem()"
             ng-data-is-model-valid="$ctrl.isModelValid"></edit-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section widget-grid id="widget-grid">
        <article class="edit-content">
            <edit-header ng-data-is-edited="!$ctrl.isEditDisabled.Never"
                         ng-data-is-new="(($ctrl.ActiveItem.Id == null) || ($ctrl.ActiveItem.Id == 0))"
                         ng-data-item-name="{{$root.getWord('Order') + ' ' + $root.getWord('no.') + ': '}}"
                         ng-data-item-id="$ctrl.ActiveItem.Id"
                         ng-data-go-back-url="#/Orders"
                         ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"></edit-header>

            <edit-server-validation-error ng-data-server-validation-error="$ctrl.ServerValidationError"></edit-server-validation-error>

            <form class="smart-form" method="post" action="{{'/Orders/Edit/'+$ctrl.ActiveItem.Id}}">
                <fieldset>
                    <div class="form-horizontal">
                        <div>
                            <input type="hidden" name="OrderId" value="{{$ctrl.ActiveItem.Id}}" />
                            <input type="hidden" name="StateId" value="{{$ctrl.ActiveItem.StateId}}" />
                        </div>


                        <subject-and-contact-edit ng-data-active-item="$ctrl.ActiveItem"
                                                  ng-data-is-edit-disabled="$ctrl.isEditDisabled.Never"
                                                  ng-func-on-change="$ctrl.EditedItemChanged()"
                                                  ng-data-select-options-all="$ctrl.SelectOptions"
                                                  ng-data-validation-object="$ctrl.ValidationObject"
                                                  ng-data-main-items-service="$ctrl.MainItemsService"></subject-and-contact-edit>

                        <section class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-sm-2">
                                    <label class="label">Terminy</label>
                                </div>
                                <div class="col-sm-10">
                                    <div class="container-fluid">
                                        <div class="row-fluid">
                                            <div class="col-md-4">
                                                <date-input-edit ng-data-model="$ctrl.ActiveItem.ReceiveDate" ng-data-label="Data wpłynięcia"
                                                                 ng-data-input-name="ReceiveDate" ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState123"
                                                                 ng-func-on-change="$ctrl.EditedItemChanged()"
                                                                 ng-data-is-required="true"
                                                                 ng-data-validation-property="$ctrl.ValidationObject.ReceiveDate"></date-input-edit>
                                            </div>
                                            <div class="col-md-4">
                                                <date-input-edit ng-data-model="$ctrl.ActiveItem.AccomplishDate" ng-data-label="Termin wykonania"
                                                                 ng-data-input-name="AccomplishDate" ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState3"
                                                                 ng-func-on-change="$ctrl.EditedItemChanged()"
                                                                 ng-data-is-required="true"
                                                                 ng-data-validation-property="$ctrl.ValidationObject.AccomplishDate"></date-input-edit>
                                            </div>
                                            <div class="col-md-4">
                                                <date-input-edit ng-data-model="$ctrl.ActiveItem.DeliveryDate" ng-data-label="Termin dostawy"
                                                                 ng-data-input-name="DeliveryDate" ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState3"
                                                                 ng-func-on-change="$ctrl.EditedItemChanged()"
                                                                 ng-data-is-required="true"
                                                                 ng-data-validation-property="$ctrl.ValidationObject.DeliveryDate"></date-input-edit>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <select-list-edit ng-data-select-name="PrioritySelect"
                                          ng-data-model="$ctrl.ActiveItem.PriorityId" ng-data-label="Priorytet"
                                          ng-data-placeholder="Wybierz priorytet..."
                                          ng-data-input-name="PriorityId" ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState3"
                                          ng-data-select-options="$ctrl.SelectOptions.Priority"
                                          ng-func-on-change="$ctrl.EditedItemChanged()"
                                          ng-data-can-clear="false"
                                          ng-data-is-required="true"
                                          ng-data-validation-property="$ctrl.ValidationObject.PriorityId"></select-list-edit>

                        <textbox-edit ng-data-model="$ctrl.ActiveItem.Desc" ng-data-label="Opis"
                                      ng-data-input-name="Desc" ng-data-is-edit-disabled="$ctrl.isEditDisabled.Never"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"></textbox-edit>

                        <select-list-edit ng-data-select-name="EmployeeSelect"
                                          ng-data-model="$ctrl.ActiveItem.EmployeeUUID" ng-data-label="Osoba odpowiedzialna"
                                          ng-data-placeholder="Wybierz osobę odpowiedzilną..."
                                          ng-data-input-name="EmployeeUUID" ng-data-is-edit-disabled="$ctrl.isEditDisabled.Never"
                                          ng-data-select-options="$ctrl.SelectOptions.Employee"
                                          ng-func-on-change="$ctrl.EditedItemChanged()"
                                          ng-data-is-required="false"
                                          ng-data-validation-property="$ctrl.ValidationObject.EmployeeUUID"
                                          ng-data-can-clear="true"></select-list-edit>

                        <products-table-edit ng-data-item-products="$ctrl.ActiveItem.Products" ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState123"
                                             ng-data-default-discount="$ctrl.ActiveItem.DefaultDiscount"
                                             ng-func-on-change="$ctrl.EditedItemChanged()"></products-table-edit>

                        <groups-table-edit ng-data-item-groups="$ctrl.ActiveItem.Groups"
                                           ng-data-is-edit-disabled="$ctrl.isEditDisabled.Never"
                                           ng-func-on-change="$ctrl.EditedItemChanged()"></groups-table-edit>

                        <complaints-table-edit ng-if="!$ctrl.isEditDisabled.OrderState012" ng-data-item-complaints="$ctrl.ActiveItem.Complaints"
                                               ng-data-order-id="$ctrl.ActiveItem.Id" ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState012"
                                               ng-func-on-change="$ctrl.EditedItemChanged()"></complaints-table-edit>

                    </div>
                </fieldset>
            </form>

            <changes-table-display ng-data-item-changes="$ctrl.ActiveItem.Changes"></changes-table-display>
        </article>
    </section>
</div>