﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="true"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.IdColumnWidth}}"
                        ng-click="$ctrl.SortItems('Id')">
                        <div>Nr</div>
                    </th>
                    <!-- Grupy -->
                    <th class="table-header table-header-non-clickable" style="width:{{$ctrl.ViewData.GroupsColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div>Grupy</div>
                    </th>
                    <!-- Odbiorca -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.SubjectColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('SubjectId')">
                        <div>Odbiorca</div>
                    </th>
                    <!-- Osoba do kontaktu -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.ContactColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('ContactId')">
                        <div>Kontakt</div>
                    </th>
                    <!-- Data wpłynięcia -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.ReceiveDateColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]" ng-click="$ctrl.SortItems('ReceiveDate')">
                        <div>Data wpłynięcia</div>
                    </th>
                    <!-- Termin wykonania -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.AccomplishDateColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]" ng-click="$ctrl.SortItems('AccomplishDate')">
                        <div>Termin wykonania</div>
                    </th>
                    <!-- Termin dostawy -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.DeliveryDateColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]" ng-click="$ctrl.SortItems('DeliveryDate')">
                        <div>Termin dostawy</div>
                    </th>
                    <!-- Opis -->
                    <th class="table-header table-header-non-clickable" style="width:{{$ctrl.ViewData.DescColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]">
                        <div>Opis</div>
                    </th>
                    <!-- Osoba odpowiedzialna -->
                    <th class="table-header table-header-clickable" style="width:{{$ctrl.ViewData.EmployeeColumnWidth}}"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[8]" ng-click="$ctrl.SortItems('EmployeeId')">
                        <div>Osoba odp.</div>
                    </th>
                    <th style="width: auto;"></th>
                    <!-- Status -->
                    <th class="table-header table-header-clickable" ng-click="$ctrl.SortItems('StateId')" style="width:{{$ctrl.ViewData.OrderStateColumnWidth}}">
                        <div></div>
                    </th>
                    <th></th>

                </tr>

                <tr ng-repeat-start="Order in $ctrl.Items.Orders" ng-show="Order.Visible"
                    class="trItemOnList"
                    ng-class="{'trItemExpanded': $ctrl.IsItemExpanded(Order.Id), 'trActiveItem': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    ng-click="$ctrl.SetActiveItem(Order.Id)" ng-dblclick="$ctrl.ExpandCollapseItem(Order.Id)">
                    <!-- Id -->
                    <td class="table-cell-clickable"
                        ng-click="$ctrl.ExpandCollapseItem(Order.Id); $ctrl.doChangeActiveItem=false">
                        <div class="divItemOnList divItemOnList-Number divItemOnList-Id"
                                ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Order.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Order.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Odbiorca -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div class="divItemOnList"
                             ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Order.SubjectId | getSubjectName:$ctrl.Items.Subjects}}</div>
                    </td>
                    <!-- Osoba do kontaktu -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div class="divItemOnList"
                             ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Order.ContactId | getContactName:$ctrl.Items.Contacts}}</div>
                    </td>
                    <!-- Data wpłynięcia -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Order.ReceiveDate}}</div>
                    </td>
                    <!-- Termin wykonania -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <b ng-class="{'tdDateExceeded': $ctrl.CheckIfDateExceeded(Order.AccomplishDate)}">{{Order.AccomplishDate}}</b>
                        </div>
                    </td>
                    <!-- Termin dostawy -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]">
                        <div class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <b ng-class="{'tdDateExceeded': $ctrl.CheckIfDateExceeded(Order.DeliveryDate)}">{{Order.DeliveryDate}}</b>
                        </div>
                    </td>
                    <!-- Opis -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]">
                        <div class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Order.Desc}}</div>
                    </td>
                    <!-- Osoba odpowiedzialna -->
                    <td class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[8]">
                        <div class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Order.EmployeeId | getEmployeeName:$ctrl.Items.Employees}}</div>
                    </td>
                    <td style="width: auto;"></td>
                    <!-- Status -->
                    <td>
                        <div style="position: relative;" class="divItemOnList divItemOnList-Center center-content-both">
                            <div style="padding:0px; margin:0px; height: 3em; width:3em;">
                                <label class="center-content-both"
                                        style="padding:0px; margin:0px; height:100%; width:100%; background-color:{{Order.StateId | getOrderStateColor}};"
                                        ng-class="{'divItemOnList-Active': Order.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                                    <span ng-show="Order.StateId==0" class="batat-icon-order-state">
                                        <img class="stretch" src="/Content/images/Icons/PasteSpecial-52-black.png" title="W przygotowaniu" />
                                    </span>
                                    <span ng-show="Order.StateId==1" class="batat-icon-order-state">
                                        <img class="stretch" src="/Content/images/Icons/Authorize-52-black.png" title="Autoryzowane" />
                                    </span>
                                    <span ng-show="Order.StateId==2" class="batat-icon-order-state">
                                        <img class="stretch" src="/Content/images/Icons/Hydroelectric-50-black.png" title="W produkcji" />
                                    </span>
                                    <span ng-show="Order.StateId==3" class="batat-icon-order-state">
                                        <img class="stretch" src="/Content/images/Icons/Exit-48-black.png" title="Zakończone" />
                                    </span>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td></td>

                </tr>


                <tr class="trItemExpanded"
                    ng-repeat-end ng-show="$ctrl.IsItemExpanded(Order.Id)">
                    <td colspan="{{$ctrl.ViewState.ViewSettings.ExpandedColumnSpan}}">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-sm-2">
                                    <label class="label">Produkty</label>
                                </div>
                                <div class="col-sm-10">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Kod</th>
                                            <th>Nazwa</th>
                                            <th>Ilość</th>
                                            <th>Cena netto</th>
                                            <th>Rabat [%]</th>
                                            <th>Cena po rabacie</th>
                                            <th>Wartość</th>
                                        </tr>
                                        <tr ng-repeat="Product in Order.Products" class="trItemOnList">
                                            <td>{{Product.ProductId}}</td>
                                            <td>{{Product.ProductId | getProductCode:$ctrl.Items.Products}}</td>
                                            <td>{{Product.ProductId | getProductName:$ctrl.Items.Products}}</td>
                                            <td>{{Product.Amount}}</td>
                                            <td>{{Product.ProductId | getProductNetPrice:$ctrl.Items.Products | getCurrency}}</td>
                                            <td>{{Product.Discount}}</td>
                                            <td>{{Product.NetPriceAfterDiscount | getCurrency}}</td>
                                            <td>{{Product.NetWorthAfterDiscount | getCurrency}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState" 
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"
                   ng-func-on-column-visibility-change="$ctrl.OnColumnVisibilityChange()"></index-sidebar>
</div>