<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.orders" title="{{getWord('Orders')}}">
                    <i class="fa fa-lg fa-fw fa-list-alt"></i><span class="menu-item-parent">{{getWord('Orders')}}</span>
                </a>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">{{getWord('Products')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.products">{{getWord('Products')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.parts">{{getWord('Parts')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">{{getWord('Technologies')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.technologies">{{getWord('Technologies')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.operations">{{getWord('Operations')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">{{getWord('Parameters')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.parameters">{{getWord('Parameters')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.groups">{{getWord('Groups')}}</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">{{getWord('Resources')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.operators">{{getWord('Operators')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.machines">{{getWord('Machines')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.tools">{{getWord('Tools')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.materials">{{getWord('Materials')}}</a>
                    </li>
                </ul>
            </li>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.costs" title="{{getWord('Costs')}}">
                    <i class="fa fa-lg fa-fw fa-list-alt"></i><span class="menu-item-parent">{{getWord('Costs')}}</span>
                </a>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">{{getWord('Subjects')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.subjects">{{getWord('Subjects')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.contacts">{{getWord('Contacts')}}</a>
                    </li>
                </ul>
            </li>


            

        </ul>
        
        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>