﻿<!DOCTYPE html>
<html class="html-base" lang="@System.Globalization.CultureInfo.CurrentUICulture.Name" style="overflow-y: hidden !important; overflow-x: hidden !important;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <!-- Please Wait scripts and CSS -->
    <script type="text/javascript" src="~/3rdParty/PleaseWait/PleaseWait.js"></script>
    <link rel="stylesheet" href="~/3rdParty/PleaseWait/PleaseWait.css" />
    <link rel="stylesheet" href="~/3rdParty/PleaseWait/LoadingCircles.css" />
    <!--  END -->
    <!-- STOP CACHING DATA! -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <!--END-->
    <!--END-->
    <!-- Third Party -->
    <!-- jQuery -->
    <script src="~/3rdParty/jQuery/2.2.4/jQuery.min.js" type="text/javascript"></script>

    <!-- moment -->
    <script src="~/3rdParty/moment/2.7.0/moment.min.js" type="text/javascript"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="~/3rdParty/tether/1.4.0/tether.min.js"></script>
    <script type="text/javascript" src="~/3rdParty/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/3rdParty/respond.js/1.1.0/respond.min.js"></script>
    <link rel="stylesheet" href="~/3rdParty/bootstrap/3.3.7/bootstrap.min.css" />

    <!-- Load angular root files -->
    <link href="~/3rdParty/ui-datepicker/datepicker.css" rel="stylesheet" />
    <link href="~/3rdParty/ui-datepicker/base.css" rel="stylesheet" />

    <script type="text/javascript" src="~/batat/batat.start.js?<%=@DateTime.Now.Ticks.ToString()%>"></script>
    <script type="text/javascript" src="~/startPage/startPage.start.js?<%=@DateTime.Now.Ticks.ToString()%>"></script>
    <script type="text/javascript" src="~/batat/Directives/directives.js?<%=@DateTime.Now.Ticks.ToString()%>"></script>

    <!--END-->
    <link rel="stylesheet" href="~/Content/HomeScreen.css?<%=@DateTime.Now.Ticks.ToString()%>" />
    <link rel="stylesheet" href="~/Content/Site.css?<%=@DateTime.Now.Ticks.ToString()%>" />

</head>


<body id="body" class="body-base" layout="column"
      ng-app="startPage">

    <script type="text/javascript">
        window.myPleaseWait = function (message) {
            return window.pleaseWait({
                logo: [],
                backgroundColor: '#EAE8E1',
                loadingHtml: "<p class='loading-message'>" + message + "</p><div class='sk-fading-circle'><div class='sk-circle1 sk-circle'></div>" +
                            "<div class='sk-circle2 sk-circle'></div><div class='sk-circle3 sk-circle'></div><div class='sk-circle4 sk-circle'></div><div class='sk-circle5 sk-circle'></div>" +
                            "<div class='sk-circle6 sk-circle'></div><div class='sk-circle7 sk-circle'></div><div class='sk-circle8 sk-circle'></div><div class='sk-circle9 sk-circle'></div>" +
                            "<div class='sk-circle10 sk-circle'></div><div class='sk-circle11 sk-circle'></div><div class='sk-circle12 sk-circle'></div></div>"
            });
        }
        window.loading_layout_page_screen = (window.myPleaseWait("Loading layout page and scripts"));
    </script>

    

    <div class="my-navbar-inverse navbar navbar-inverse navbar-fixed-top navbar-shared-top">
        <div class="container-fluid center-content-both" id="navbar-container-div">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Administrator<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("RecreateDatabase", "SeedDatabase")'>Recreate database</a></li>
                            <li><a href='@Url.Action("SeedDatabasePanel", "SeedDatabase")'>Seed PA</a></li>
                            <li><a href='@Url.Action("SeedOrders", "SeedDatabase")'>Seed Orders</a></li>
                            <li><a href='@Url.Action("SeedOrderInstances", "SeedDatabase")'>Move Orders to production panel</a></li>
                            <li><a href='@Url.Action("SeedTechnologyPicks", "SeedDatabase")'>Seed Technology picks</a></li>
                            <li><a href='@Url.Action("SeedTroleys", "SeedDatabase")'>Seed Troleys</a></li>
                            <li><a href='@Url.Action("RemoveOrderInstances", "SeedDatabase")'>Remove Orders in production</a></li>
                            <li><a href='@Url.Action("SeedTest", "SeedDatabase")'>Seed test</a></li>
                            <!--
    <li><a href='@Url.Action("ReseedOiOnly", "SeedDatabase")'>Reseed Boxes Only</a></li>
    <li><a href='@Url.Action("SeedOrders", "SeedDatabase")'>Seed Orders</a></li>
    <li><a href='@Url.Action("SeedProducts", "SeedDatabase")'>Seed Products</a></li>
    <li><a href='@Url.Action("SeedParts", "SeedDatabase")'>Seed Parts</a></li>
    <li><a href='@Url.Action("SeedParameters", "SeedDatabase")'>Seed Parameters</a></li>
    <li><a href='@Url.Action("SeedGroups", "SeedDatabase")'>Seed Groups</a></li>
    <li><a href='@Url.Action("SeedSubjects", "SeedDatabase")'>Seed Subjects and Contacts</a></li>
    <li><a href='@Url.Action("SeedTechnologies", "SeedDatabase")'>Seed Technologies and Operations</a></li>
    <li><a href='@Url.Action("SeedOperators", "SeedDatabase")'>Seed Operators</a></li>
    <li><a href='@Url.Action("SeedMachines", "SeedDatabase")'>Seed Machines</a></li>
    <li><a href='@Url.Action("SeedTools", "SeedDatabase")'>Seed Tools</a></li>
    <li><a href='@Url.Action("SeedMaterials", "SeedDatabase")'>Seed Materials</a></li>
    <li><a href='@Url.Action("SeedFixedCosts", "SeedDatabase")'>Seed FixedCosts</a></li>
    -->
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="btn btn-default" href="/SmartAdmin/WikiPanel.html">Wiki</a>
            @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
        </div>
    </div>

    <div class="home-screen-body">
        <div class="container-fluid home-screen-tiles-container">
            <div class="row-fluid home-screen-tiles-row">

                <div class="col-sm-6 home-screen-tile" title="Panel Danych">
                    <div class="center-content-both">
                        <div class="home-screen-link home-screen-link-database-panel">
                            <a href="/SmartAdmin/DatabasePanel.html" class="stretch-absolute"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 home-screen-tile" title="Panel Operatora">
                    <div class="center-content-both">
                        <div class="home-screen-link home-screen-link-operator-panel">
                            <a href="/SmartAdmin/OperatorPanel.html" class="stretch-absolute"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 home-screen-tile"  title="Panel Produkcji">
                    <div class="center-content-both">
                        <div class="home-screen-link home-screen-link-production-panel">
                            <a href="/ProductionPanel/" class="stretch-absolute"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 home-screen-tile"  title="Panel Statystyk">
                    <div class="center-content-both">
                        <div class="home-screen-link home-screen-link-statistics-panel">
                            <a href="/SmartAdmin/TilesPanel.html" class="stretch-absolute"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
</body>


</html>

<script>
    window.loading_layout_page_screen.finish();
</script>