﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="true"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id Klienta -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}">Nr</div>
                    </th>
                    <!-- Grupy Klienta -->
                    <th class="col-md-1 table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}">Grupy</div>
                    </th>
                    <!-- Nazwa Klienta -->
                    <th class="col-md-1 table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('Name')">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}">Nazwa</div>
                    </th>
                    <!-- Skrót Klienta -->
                    <th class="col-md-1 table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('ShortName')">
                        <div style="width:{{$ctrl.ViewData.ShortNameColumnWidth}}">Skrót</div>
                    </th>
                    <!-- NIP Klienta -->
                    <th class="col-md-1 table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('VATRegNum')">
                        <div style="width:{{$ctrl.ViewData.VATRegNumColumnWidth}}">NIP</div>
                    </th>
                    <!-- WWW Klienta -->
                    <th class="col-md-1 table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]" ng-click="$ctrl.SortItems('WWW')">
                        <div style="width:{{$ctrl.ViewData.WWWColumnWidth}}">WWW</div>
                    </th>
                    <!-- Adres Klienta -->
                    <th class="col-md-1 table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]" ng-click="$ctrl.SortItems('Address')">
                        <div style="width:{{$ctrl.ViewData.AddressColumnWidth}}">Adres</div>
                    </th>
                    <!-- Telefon Klienta -->
                    <th class="col-md-1 table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]" ng-click="$ctrl.SortItems('Phone')">
                        <div style="width:{{$ctrl.ViewData.PhoneColumnWidth}}">Telefon</div>
                    </th>
                    <!-- Opis Klienta -->
                    <th class="col-md-1 table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]" ng-click="$ctrl.SortItems('Desc')">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}">Opis</div>
                    </th>
                    <!-- Kontakty Klienta -->
                    <th class="col-md-1 table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[9]">
                        <div style="width:{{$ctrl.ViewData.ContactsColumnWidth}}">Kontakty</div>
                    </th>
                    <th></th>
                </tr>


                <tr class="trItemOnList"
                    ng-repeat="Subject in $ctrl.Items.Subjects" ng-show="Subject.Visible"
                    ng-class="{'trActiveItem': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    ng-click="$ctrl.SetActiveItem(Subject.Id)">
                    <!-- Id Klienta -->
                    <td class="table-cell-non-clickable">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number  divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Subject.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Subject.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Nazwa Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Subject.Name}}</div>
                    </td>
                    <!-- Skrót Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.ShortNameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Subject.ShortName}}</div>
                    </td>
                    <!-- NIP Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.VATRegNumColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Subject.VATRegNum}}</div>
                    </td>
                    <!-- WWW Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.WWWColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <a href='http://{{Subject.WWW}}' target="_blank">{{Subject.WWW}}</a>
                        </div>

                    </td>
                    <!-- Adres Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.AddressColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Subject.Address}}</div>
                    </td>
                    <!-- Telefon Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]">
                        <div style="width:{{$ctrl.ViewData.PhonesColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Subject.Phone}}</div>
                    </td>
                    <!-- Opis Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Subject.Desc}}</div>
                    </td>
                    <!-- Kontakty Klienta -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[9]">
                        <div style="width:{{$ctrl.ViewData.PhonesColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Subject.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="ContactId in Subject.Contacts">
                                <span>{{ContactId | getContactName:$ctrl.Items.Contacts}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>