﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="true"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}">Nr</div>
                    </th>
                    <!-- Grupy -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}">Grupy</div>
                    </th>
                    <!-- Kod -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]"
                        ng-click="$ctrl.SortItems('Code')">
                        <div style="width:{{$ctrl.ViewData.CodeColumnWidth}}">Kod</div>
                    </th>
                    <!-- Nazwa -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]"
                        ng-click="$ctrl.SortItems('Name')">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}">Nazwa</div>
                    </th>
                    <!-- Parametry -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.ParametersColumnWidth}}">Parametry</div>
                    </th>
                    <!-- Opis -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}">Opis</div>
                    </th>
                    <!-- Cena netto -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.NetPriceColumnWidth}}">Cena netto</div>
                    </th>
                    <th></th>
                </tr>


                <tr ng-repeat-start="Product in $ctrl.Items.Products" ng-show="Product.Visible"
                    ng-class="{'trItemExpanded': $ctrl.IsItemExpanded(Product.Id), 'trActiveItem': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    class="trItemOnList"
                    ng-click="$ctrl.SetActiveItem(Product.Id)" ng-dblclick="$ctrl.ExpandCollapseItem(Product.Id)">
                    <!-- Id -->
                    <td class="table-cell-clickable"
                        ng-click="$ctrl.ExpandCollapseItem(Product.Id); $ctrl.doChangeActiveItem=false">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number  divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Product.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Grupy -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Product.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Kod -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.CodeColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Product.Code}}</div>
                    </td>
                    <!-- Nazwa -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Product.Name}}</div>
                    </td>
                    <!-- Parametry -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.ParametersColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Parameter in Product.Parameters">
                                <span>{{(Parameter.ParameterId | getParameterName:$ctrl.Items.Parameters) + ": " + Parameter.Value + ((Parameter.ParameterId | getParameterUnit:$ctrl.Items.Parameters) || '')}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Opis -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Product.Desc}}</div>
                    </td>
                    <!-- Opis -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.NetPriceColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Product.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Product.NetPrice | getCurrency}}</div>
                    </td>
                    <td></td>
                </tr>

                <tr class="trItemExpanded"
                    ng-show="($ctrl.IsItemExpanded(Product.Id) && (Product.Products.length > 0))">
                    <td colspan="{{$ctrl.ViewState.ViewSettings.ExpandedColumnSpan}}">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-sm-2">
                                    <label class="label">Produkty</label>
                                </div>
                                <div class="col-sm-10">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Kod</th>
                                            <th>Nazwa</th>
                                            <th>Ilość</th>
                                            <th>Cena netto</th>
                                            <th>Rabat [%]</th>
                                            <th>Cena po rabacie</th>
                                            <th>Wartość</th>
                                        </tr>
                                        <tr ng-repeat="Product2 in Product.Products" class="trItemOnList">
                                            <td>{{Product2.ProductId}}</td>
                                            <td>{{Product2.ProductId | getProductCode:$ctrl.Items.Products}}</td>
                                            <td>{{Product2.ProductId | getProductName:$ctrl.Items.Products}}</td>
                                            <td>{{Product2.Amount}}</td>
                                            <td>{{Product2.ProductId | getProductNetPrice:$ctrl.Items.Products | getCurrency}}</td>
                                            <td>{{Product2.Discount}}</td>
                                            <td>{{Product2.NetPriceAfterDiscount | getCurrency}}</td>
                                            <td>{{Product2.NetWorthAfterDiscount | getCurrency}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="trItemExpanded"
                    ng-repeat-end ng-show="($ctrl.IsItemExpanded(Product.Id) && (Product.Parts.length > 0))">
                    <td colspan="{{$ctrl.ViewState.ViewSettings.ExpandedColumnSpan}}">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-sm-2">
                                    <label class="label">Detale</label>
                                </div>
                                <div class="col-sm-10">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Kod</th>
                                            <th>Nazwa</th>
                                            <th>Ilość</th>
                                        </tr>
                                        <tr ng-repeat="Part in Product.Parts" class="trItemOnList">
                                            <td>{{Part.PartId}}</td>
                                            <td>{{Part.PartId | getPartCode:$ctrl.Items.Parts}}</td>
                                            <td>{{Part.PartId | getPartName:$ctrl.Items.Parts}}</td>
                                            <td>{{Part.Amount}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>