﻿<!-- ProductionPanel.AppLogic.BoxCode -->

<doc-brainstorm>
    <doc-topic>Propozycje zmian/do przemyslenia:</doc-topic>
    <doc-text>
        
    </doc-text>
    <doc-comment></doc-comment>
</doc-brainstorm>
<doc-header>
    TWORZENIE KODU SKRZYNKI
</doc-header>
<doc-summary>
    Zasady generowania kodu skrzynki przez program
</doc-summary>
<doc-links>
    <doc-link no="1">ProductionPanel.AppLogic.OperationsMerge</doc-link>
    <doc-link no="2">ProductionPanel.AppLogic.OperatorAtribution</doc-link>
    <doc-link no="3">ProductionPanel.AppLogic.OperationsOrder</doc-link>
    <doc-link no="4">ProductionPanel.AppFunction.ProductionPanel</doc-link>
</doc-links>
<doc-paragraph>
    <doc-header>Założenia ogólne</doc-header>
    <doc-text>
        Dla każdej skrzynki powinna być mozliwość wygenerowania unikalnego kodu, który pozwoli:
        - zidentyfikować dana skrzynkę na produkcji – znajdzie aktualne i rzeczywiste położenie wybranej skrzynki z harmonogramu
        - zidentyfikuje rzeczywistą skrzynkę na harmongramie i/lub informacje na temat jej detalu, zamówienia oraz akutalnej operacji
        - pozwoli prześlidzić każdą operację (wcześniejsze skrzynki), która była wykonywana na detalach ze skrzynki
    </doc-text>
    <doc-header>Struktura kodu</doc-header>
    <doc-text>
        ProductionTechnologyID*_1X.2Y.3Z…
        Gdzie:
        1,2,3... : numer kolejny operacji w technologii
        X,Y,Z.. są unikalnym literowym oznaczeniem wózka w ramach kolejnej operacji
    </doc-text>
    <doc-link no="1" />

</doc-paragraph>
<doc-comments>
    <doc-comment author="Wieslaw" date="10/01/2018">
        *ProductionTechnologyID - jednoznacznie identyfikuje skrzynki w połączeniu z kodami wózków; OrderInstance nie nadaje się, gdyż może być kilka skrzynek na Order; tak samo ProductionPart i ProductionProduct. Następne jest ProductionTechnologyID - to spełnia warunek gdyż skrzynki w ramach tego samego ProductionTechnology jeśli przejdą inne ścieżki - tu jest wtedy rozróżnienie, jeśli nie to i tak są nierozrużnialne, gdyż nie rozróżniamy detali wykonanych tym samym OperationBundleId
    </doc-comment>
</doc-comments>
<doc-code></doc-code>
