﻿<doc-brainstorm>
    <doc-topic>Propozycje zmian/do przemyslenia:</doc-topic>
    <doc-text>
        1.Zmieniamy nazwe OpeartionInstance na Box oraz OperationBundle na Carrier
        2.Sposób wrzucania na harmonogram (zagadnienie skrzynek w na harmonogramie technologii, tzn czy wyswietlamy na harmonogramie technologii już skrzynki zamiast pasków aby informować użytkownika o istniejących skrzynkach i zabobiec niepotrzebnemu tworzeniu nowych skrzynek)
        3.Powrót operacji do bufora technologii
    </doc-text>
    <doc-comment></doc-comment>
</doc-brainstorm>
<doc-header>
    GRUPOWANIE DETALI NA HARMONOGRAMIE
</doc-header>
<doc-summary>
    Zasady dzielenia i łaczenia operacji występujących na harmonogramie
</doc-summary>
<doc-links>
    <doc-link no="1">ProductionPanel.AppLogic.BoxCode</doc-link>
    <doc-link no="2">ProductionPanel.AppLogic.OperatorAtribution</doc-link>
    <doc-link no="3">ProductionPanel.AppLogic.OperationsOrder</doc-link>
    <doc-link no="4">ProductionPanel.AppFunction.ProductionPanel</doc-link>
</doc-links>
<doc-paragraph>
    <doc-header>Definicja skrzynki i wózka</doc-header>
    <doc-text>
        SKRZYNKA – odpowiednik instancji operacji – najmniejsza wspólna grupa detali pochodząca z jednego zamówienia. Detale z jednej skrzynki są wykonywane wspólnie w ramach bieżącej operacji i wykonane wspólnie w ramach wszystkich poprzedzających operacji.
        Skrzynki się nigdy nie łączą ze sobą, ale mogą się rozdzielać. Zaharmonogramowanie na osobnych wózkach detali z jednej skrzynki implikuje powstanie oddzielnych skrzynek dla każdego wózka.
        Na każdym poziomie operacji tworzy się nowa skrzynka (detale są zawsze przekładane pomiędzy operacjami do nowych skrzynek; najczęściej w takiej samej ilości). Skrzynki posiadają unikatowy UUID (oraz ID), oraz informację o:
        •	UUID (oraz ID) skrzynki poprzedzającej (dla pierwszej operacji brak wpisu)
        •	UUID (oraz ID) skrzynki następującej (wpis dokonuje się, gdy zaplanujemy następną operację)
        •	UUID (oraz ID) wózka (OperationBundleUUID)
        •	UUID (oraz ID): OrderInstance, ProductionPart, ProductionProduct, ProductionTechnology, ProductionOperation (jest to przechowywane nadmiarowo, skrzynka jest przechowywana w ProductionOperation)
        •	UUID (oraz ID) ProductionTechnologyBundle (jako informację czy skrzynki są w tym samym bundlu technologicznym)
        •	OrderId, PartId, ProductId, TechnologyId, OperationId
        •	Ilość sztuk do wykonania
        •	Ilość sztuk oraz wykonanych
        •	Oczekiwany czas rozp oraz zakonczenia
        •	Obrabiarka - MachineId
        •	Operator - OperatorId
        •	Stan skrzynki – StateId --- błąd, zakończona itp.
        •	OperationBundleOrder --- kolejność wykonania w wózku (OparationBundlu)
        •	Kod skrzynki (ewentualnie?)

        WÓZEK – odpowiednik OperationBundle – element łączący skrzynki tego samego detalu w ramach tej samej operacji. Wózek może łączyć skrzynki z jednego lub wielu zamówień (dla tego smego detalu i tej samej operacji w obrębie jednego TechnologyBundleID)
        Wózek posiada swój UUID (oraz ID) i przechowuje:
        •	Wiadomosci
        •	Sume detali do wykonania na wózku
        •	Sume zrobionych detali na wózku
        •	Kod wozka
        Wózek nie przechowuje skrzynek, które są do niego przypisane. Tabela za skrzynkami przypisanymi do wózka jest generowna z bazy danych

    </doc-text>
    <doc-header>Zasady łączenia/rozłączania skrzynek</doc-header>
    <doc-text>
        ŁĄCZENIE jest możliwe na dwa sposoby:

        a.Łączenie grupowe - na poziomie doboru technologii łączymy wszystkie skrzynki w jeden wózek dla każdej operacji (skrzynki powstają dla każdej operacji i zawierają wszystkie detale z jednego zamówienia).

        b.Pojedyncze: każda skrzynka przy wrzucaniu na harmonogram posiada unikalny OperationBundleID. Operacje zlaczone posiadaja wspolny OperationBundleID (ID wózka).
        Łączenie w wózek (przez Operation Budle ID) jest możliwe tylko w obrębie operacji połączonych ProductionTechnology Bundle ID.
        Łacznie pojedyncze powoduje doklejenie do istniejacej, czyli wydłużenie istniejacego paska o czas jednostkowy (TJ) * ilosc sztuk

        ROZŁĄCZANIE - z poziomu harmonogramu jest mozliwe tylko dla niewykonanego do tej pory ilości detali  ze skrzynki. Rozłączenia można dokonać dla operacji nierozpoczętej lub zatrzymanej (z podaną iloscią wykonanych sztuk).
        Rozłączanie nastepuje skopiowanie skrzynki, odjęcie od oryginalnej odłączonej ilości i wpisanie tej ilosci  do nowej skrzynki.
        Po rozłączeniu operacja pozostaje na harmonogramie oddzielona od reszty. Poczatek tej operacji wystepuje na kolejnej najblizszej podzialce czasu w najbliższym wolnym terminie Maszyna-Operator na osi harmonogramu i automatycznie doliczany jest TPZ.
    </doc-text>
    <doc-link no="4" />
   
</doc-paragraph>
<doc-comments>
    <doc-comment author="Marek" date="10/01/2018"></doc-comment>
</doc-comments>
<doc-code></doc-code>
