﻿<!-- RIBBON -->
<edit-ribbon ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"
              ng-data-is-edited="!$ctrl.isEditDisabled.Never"
              ng-func-reset-active-item="$ctrl.ResetActiveItem()"
              ng-func-save-active-item="$ctrl.SaveActiveItem()"
              ng-data-is-model-valid="$ctrl.isModelValid"></edit-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section widget-grid id="widget-grid">
        <article class="edit-content">
            <edit-header ng-data-is-edited="!$ctrl.isEditDisabled"
                         ng-data-is-new="(($ctrl.ActiveItem.Id == null) || ($ctrl.ActiveItem.Id == 0))"
                         ng-data-item-name="Kontakt"
                         ng-data-item-id="$ctrl.ActiveItem.Id"
                         ng-data-go-back-url="#/Contacts"
                         ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"></edit-header>

            <edit-server-validation-error ng-data-server-validation-error="$ctrl.ServerValidationError"></edit-server-validation-error>

            <form class="smart-form" method="post" action="{{'/Contacts/Edit?Id='+$ctrl.ActiveItem.Id}}">
                <div class="form-horizontal">
                    <div>
                        <input type="hidden" name="ContactId" value="{{$ctrl.ActiveItem.Id}}" />
                    </div>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Name" ng-data-label="Imię i nazwisko"
                                     ng-data-input-name="Name" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <groups-table-edit ng-data-item-groups="$ctrl.ActiveItem.Groups" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                       ng-func-on-change="$ctrl.EditedItemChanged()"></groups-table-edit>

                    <subject-edit ng-data-active-item="$ctrl.ActiveItem"
                                  ng-data-is-edit-disabled="$ctrl.isEditDisabled.Never"
                                  ng-func-on-change="$ctrl.EditedItemChanged()"
                                  ng-data-select-options="$ctrl.SelectOptions.Subject"></subject-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Division" ng-data-label="Dział"
                                     ng-data-input-name="Division" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Position" ng-data-label="Stanowisko"
                                     ng-data-input-name="Position" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.OfficePhone" ng-data-label="Telefon biurowy"
                                     ng-data-input-name="OfficePhone" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.BusinessPhone" ng-data-label="Telefon służbowy"
                                     ng-data-input-name="BusinessPhone" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.PrivatePhone" ng-data-label="Telefon prywatny"
                                     ng-data-input-name="PrivatePhone" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Fax" ng-data-label="Fax"
                                     ng-data-input-name="Fax" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.eMail" ng-data-label="eMail"
                                     ng-data-input-name="eMail" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <textbox-edit ng-data-model="$ctrl.ActiveItem.Desc" ng-data-label="Opis"
                                  ng-data-input-name="Desc" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                  ng-func-on-change="$ctrl.EditedItemChanged()"></textbox-edit>



                </div>
            </form>

            <changes-table-display ng-data-item-changes="$ctrl.ActiveItem.Changes"></changes-table-display>
        </article>
</section>
</div>