﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="false"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Contact Id -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}">Nr</div>
                    </th>
                    <!-- Groups -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}">Grupy</div>
                    </th>
                    <!-- Name -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('Name')">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}">Nazwa</div>
                    </th>
                    <!-- SubjectId -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('SubjectId')">
                        <div style="width:{{$ctrl.ViewData.SubjectColumnWidth}}">Odbiorca</div>
                    </th>
                    <!-- Division -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]" ng-click="$ctrl.SortItems('Division')">
                        <div style="width:{{$ctrl.ViewData.DivisionColumnWidth}}">Dział</div>
                    </th>
                    <!-- Position -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]" ng-click="$ctrl.SortItems('Position')">
                        <div style="width:{{$ctrl.ViewData.PositionColumnWidth}}">Stanowisko</div>
                    </th>
                    <!-- Phones -->
                    <th class="table-header table-header-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.PhonesColumnWidth}}">Telefony</div>
                    </th>
                    <!-- eMail -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]" ng-click="$ctrl.SortItems('eMail')">
                        <div style="width:{{$ctrl.ViewData.eMailColumnWidth}}">eMail</div>
                    </th>
                    <!-- Desc -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]" ng-click="$ctrl.SortItems('Desc')">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}">Opis</div>
                    </th>
                    <!-- Photo -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[8]" ng-click="$ctrl.SortItems('Photo')">
                        <div style="width:{{$ctrl.ViewData.PhotoColumnWidth}}">Zdjęcie</div>
                    </th>
                    <th></th>
                </tr>


                <tr class="trItemOnList"
                    ng-repeat="Contact in $ctrl.Items.Contacts" ng-show="Contact.Visible"
                    ng-class="{'trActiveItem': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    ng-click="$ctrl.SetActiveItem(Contact.Id)">
                    <!-- Id -->
                    <td class="table-cell-non-clickable">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.Id | getIdFormattedString}}</div>
                    </td>
                    <!-- Groups -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.GroupsColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <div ng-repeat="Group in Contact.Groups">
                                <span>{{Group.GroupId | getGroupName:$ctrl.Items.Groups}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                    <!-- Name -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.Name}}</div>
                    </td>
                    <!-- Subject -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.SubjectColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.SubjectId | getSubjectName:$ctrl.Items.Subjects}}</div>
                    </td>
                    <!-- Division -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[3]">
                        <div style="width:{{$ctrl.ViewData.DivisionColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.Division}}</div>
                    </td>
                    <!-- Position -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[4]">
                        <div style="width:{{$ctrl.ViewData.PositionColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.Position}}</div>
                    </td>
                    <!-- Phones -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[5]">
                        <div style="width:{{$ctrl.ViewData.PhonesColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">
                            <span>Biuro:</span><span>{{Contact.OfficePhone}}</span><br />
                            <span>Służbowy:</span><span>{{Contact.BusinessPhone}}</span><br />
                            <span>Prywatny:</span><span>{{Contact.PrivatePhone}}</span><br />
                            <span>Fax:</span><span>{{Contact.Fax}}</span><br />
                        </div>
                    </td>
                    <!-- eMail -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[6]">
                        <div style="width:{{$ctrl.ViewData.eMailColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.eMail}}</div>
                    </td>
                    <!-- Desc -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[7]">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.Desc}}</div>
                    </td>
                    <!-- Photo -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[8]">
                        <div style="width:{{$ctrl.ViewData.PhotoColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Contact.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Contact.Photo}}</div>
                    </td>
                    <td></td>
                </tr>
            </table>

            <!--  -->
        </article>
    </section>
</div>    
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>