<div id="content" data-sparkline-container data-easy-pie-chart-container>

    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well well-sm">


                <!-- Timeline Content -->
                <div class="smart-timeline">
                    <ul class="smart-timeline-list">
                        
                        <li ng-repeat="Trolley in $ctrl.MachineTrolleys"
                            class="smart-timeline-list-item">
                            <div class="smart-timeline-icon bg-color-gray" ng-if="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id] && (Trolley.StateId == 0)">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="smart-timeline-icon bg-color-greenLight" ng-if="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id] && (Trolley.StateId == 1)">
                                <i class="fa fa-play"></i>
                            </div>
                            <div class="smart-timeline-icon bg-color-pink" ng-if="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id] && (Trolley.StateId == 2)">
                                <i class="fa fa-pause"></i>
                            </div>
                            <div class="smart-timeline-icon bg-color-red" ng-if="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id] && (Trolley.StateId == 3)">
                                <i class="fa fa-stop"></i>
                            </div>
                            <div class="smart-timeline-icon bg-color-darken" ng-if="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id] && (Trolley.StateId == 4)">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="smart-timeline-icon bg-color-orange" ng-if="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id] && (Trolley.StateId == 6)">
                                <i class="fa fa-warning-sign"></i>
                            </div>
                            
                            <div class="smart-timeline-time">
                                <div ng-hide="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id]"
                                     style="background-color: white;">
                                    <h3 style="margin-top: 0;">{{$root.getWord(Trolley.PlannedStartDayOfWeek)}}</h3>
                                    <h3>{{Trolley.PlannedStartHour}}</h3>
                                    <h3 ng-if="Trolley.PlannedStartDayOfWeek != Trolley.PlannedEndDayOfWeek">{{Trolley.PlannedEndTime}}</h3>
                                    <h3>{{Trolley.PlannedEndHour}}</h3>
                                    <div style="position:absolute; bottom:2em; left: 1em; overflow: hidden;" easy-pie-chart-container>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="easy-pie-chart txt-color-red easyPieChart"
                                                     data-percent="68" data-pie-size="60">
                                                    <span class="percent percent-sign txt-color-red semi-bold"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <h2 class="txt-color-red">{{Trolley.Duration}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id]"
                                     style="background-color: transparent;">
                                    <label style="margin-top: 0;">{{$root.getWord(Trolley.PlannedStartDayOfWeek)}}</label>
                                    <label>{{Trolley.PlannedStartHour}}</label>
                                    <br/>
                                    <label ng-if="Trolley.PlannedStartDayOfWeek != Trolley.PlannedEndDayOfWeek">{{Trolley.PlannedEndTime}}</label>
                                    <label>{{Trolley.PlannedEndHour}}</label>
                                </div>
                                
                            </div>
                            <div class="smart-timeline-content">
                                <operator-task ng-data-trolley="Trolley"
                                               ng-data-items="$ctrl.Items"
                                               ng-data-is-widget-collapsed="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id]"></operator-task>
                            </div>
                        </li>
                       
                    </ul>
                </div>
                <!-- END Timeline Content -->



            </div>
        </div>
    </div>
    <!-- end row -->
</div>