﻿<div style="position: absolute; display: block; top: 49px; right: 0; width: auto; height: 60px; z-index: 905; padding-top: 1em; padding-right: 1em;">
    <a href-void class="btn btn-primary txt-color-white" title="Zwiń nieaktywne"
       ng-click="CollapseAll()"
       ><i class="fa fa-toggle-down fa-lg"></i></a>
    <a ng-if="areDoneVisible == false"
       href-void class="btn txt-color-white bg-color-orange" 
       title="Pokazuj zrobione" ng-click="ShowDone()"
       ><i class="fa fa-square-o fa-lg"></i></a>
    <a ng-if="areDoneVisible == true"
       href-void class="btn txt-color-white bg-color-red" 
       title="Pokazuj zrobione" ng-click="HideDone()"
       ><i class="fa fa-check-square-o fa-lg"></i></a>
    <a href-void class="btn btn-primary txt-color-white" title="Idź do aktualnej godziny"
       ng-click="ScrollToCurrentTime()"><i class="fa fa-clock-o fa-lg"></i></a>

    <a style="margin-left: 30px;" class="btn btn-circle btn-lg" ng-class="$ctrl.MachineState.indicatorClasses">
        <i style="color: white;" class="fa fa-lg" ng-class="$ctrl.MachineState.indicatorIconClasses"></i></a>
</div>