<div id="content" data-sparkline-container data-easy-pie-chart-container>

    
    <operator-panel-nav-buttons ng-data-are-done-visible="$ctrl.areDoneVisible"
                                ng-func-show-done="$ctrl.areDoneVisible = true" 
                                ng-func-hide-done="$ctrl.areDoneVisible = false" 
                                ng-func-collapse-all="$ctrl.CollapseAll()"
                                ng-func-scroll-to-current-time="$ctrl.ScrollToCurrentTime()"></operator-panel-nav-buttons>

    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well well-sm">


                <!-- Timeline Content -->
                <div class="smart-timeline">
                    <ul class="smart-timeline-list" id="TrolleysList">
                        
                        <li ng-repeat="Trolley in $ctrl.MachineTrolleys"
                            id="TrolleysListItem{{Trolley.Id}}"
                            style="padding: 2px 10px 0 0;"
                            class="smart-timeline-list-item"
                            ng-if="((Trolley.StateId) != 4 || ($ctrl.areDoneVisible === true))">

                            <!-- Removed by Wiesioo **********************
                            <div class="smart-timeline-icon">
                            </div>
                            **********************************************  -->
                            
                            <div class="smart-timeline-time"
                                 ng-class="{'bg-color-greenLightPlusGlass': Trolley.Id == $ctrl.CurrentTrolleyId}">
                                <div>
                                    <div class="row" style="height: 10px;"
                                         ng-if="!$ctrl.areWidgetsCollapsed['Id'+Trolley.Id]"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label><strong>{{$root.getWord(Trolley.PlannedEndDayOfWeek)}}</strong></label>
                                            <label><strong>{{Trolley.PlannedEndHour}}</strong></label>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 2em;"
                                         ng-if="!$ctrl.areWidgetsCollapsed['Id'+Trolley.Id]">
                                        <div class="col-sm-12">
                                            <i class="fa fa-long-arrow-up fa-lg"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label ng-if="Trolley.PlannedStartDayOfWeek != Trolley.PlannedEndDayOfWeek"><strong>{{$root.getWord(Trolley.PlannedStartDayOfWeek)}}</strong></label>
                                            <label><strong>{{Trolley.PlannedStartHour}}</strong></label>
                                        </div>
                                    </div>
                                    
                                    <div class="row" ng-hide="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id]"
                                         easy-pie-chart-container>
                                        <div class="col-sm-12">
                                            <h3 class="txt-color-red" style="font-size: 1.5em;">{{Trolley.Duration}}</h3>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class='customEasyPieChart' percent="Trolley.MadePercentage">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="smart-timeline-content">
                                <operator-task ng-data-trolley="Trolley"
                                               ng-data-items="$ctrl.Items"
                                               ng-data-is-widget-collapsed="$ctrl.areWidgetsCollapsed['Id'+Trolley.Id]"
                                               ng-data-current-trolley-id="$ctrl.CurrentTrolleyId"></operator-task>
                            </div>
                        </li>
                       
                    </ul>
                </div>
                <!-- END Timeline Content -->



            </div>
        </div>
    </div>
    <!-- end row -->
</div>