﻿<div class="container-fluid changes-table-container edit-row">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Zmiany</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 20%;">Nazwa</th>
                        <th style="width: 40%;">Opis</th>
                        <th style="width: 20%;">Osoba dokonująca zmiany</th>
                        <th style="width: 20%;">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Change in $ctrl.ItemChanges | reverse" class="trItemOnList">
                        <td><span>{{Change.Name}}</span></td>
                        <td>{{Change.Desc}}</td>
                        <td>{{Change.EmployeeId | getEmployeeName:$ctrl.Employees}}</td>
                        <td>{{Change.DateTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>