﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">{{$ctrl.Label}}</label>
        </div>
        <div class="col-sm-10">
            <input type="hidden" name="{{$ctrl.InputName}}" value="{{$ctrl.Model}}"/>
            <div class="index-checkbox-container">
                <input type="checkbox" ng-model="$ctrl.Model" ng-disabled="$ctrl.isEditDisabled"
                       class="form-control index-checkbox" ng-change="$ctrl.EditedItemChanged()" />
            </div>
        </div>
    </div>
</section>