﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Reklamacje</label>
        </div>

        <div class="col-sm-10">
            <table>

            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 20%;">Produkt</th>
                        <th style="width: 10%;">Ilość</th>
                        <th style="width: 10%;">Data</th>
                        <th style="width: 25%;">Opis</th>
                        <th style="width: 20%;">Koszt</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Complaint in $ctrl.ItemComplaints" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{Complaint.ComplaintId}}" name="Complaints[{{$index}}].ComplaintId" readonly="readonly" /><span>{{Complaint.ComplaintId}}</span>
                        </td>
                        <td>{{(Complaint.ProductId + ' - ' + (Complaint.ProductId | getProductCode:$ctrl.Products) + ' - ' + (Complaint.ProductId | getProductName:$ctrl.Products))}}</td>
                        <td>
                            <input type="number" ng-model="Complaint.Amount" name="Complaints[{{$index}}].Amount"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{Complaint.Amount}}" 
                                    ng-change="$ctrl.EditedItemChanged()" />
                        </td>
                        <td>{{Complaint.Date}}</td>
                        <td>
                            <textarea class="form-control" rows="3" value="{{Complaint.Desc}}"
                                      ng-model="Complaint.Desc"
                                       ng-change="$ctrl.EditedItemChanged()">{{Complaint.Desc}}</textarea>
                        </td>
                        <td>
                            <div style="display: inline-block; width: 80%;">
                                <input class="form-control" type="number" name="Complaints[{{$index}}].Cost" min="0"
                                       ng-model="Complaint.Cost" ng-disabled="Complaint.isTotal"
                                       ng-change="$ctrl.EditedItemChanged()" >
                            </div>
                            <div style="display: inline-block; width: 20%;">
                                <div class="index-checkbox-container">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox"
                                               ng-model="Complaint.isTotal" ng-disabled="$ctrl.isEditDisabled"
                                               title="Reklamacja całkowita?" ng-change="$ctrl.EditedItemChanged()">
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveComplaint($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>
                    
                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td colspan="2">
                            <select data-smart-select2 style="width:100%" class="select2" ng-model="$ctrl.SelectedProductId"
                                    ng-disabled="(($ctrl.OrderProducts == null) || ($ctrl.OrderProducts.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Product in $ctrl.OrderProducts" ng-value="Product.ProductId">{{Product.Code + ' - ' + Product.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" ng-model="$ctrl.AmountToAdd"
                                   class="form-control" min="1"/>
                        </td>
                        <td>
                            <input ng-model="$ctrl.DateToAdd"
                                   type="text" placeholder="{{$root.getWord('Select a date')}}" class="form-control datepicker"
                                   data-smart-datepicker data-date-format="dd-mm-yy"
                                   ng-disabled="$ctrl.isEditDisabled">
                        </td>
                        <td>
                            <textarea class="form-control" rows="3" ng-model="$ctrl.DescToAdd"></textarea>
                        </td>
                        <td>
                            <div style="display: inline-block; width: 80%;" class="form-group">
                                <input class="form-control" type="number" min="0"
                                       ng-model="$ctrl.CostToAdd" ng-disabled="$ctrl.isTotalToAdd === true"
                                       >
                            </div>
                            <div class="index-checkbox-container" style="display: inline-block; width: 20%;">
                                <label class="checkbox">
                                    <input type="checkbox" name="checkbox"
                                           ng-model="$ctrl.isTotalToAdd" title="Reklamacja całkowita?">
                                    <i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddComplaint();"><i class="glyphicon glyphicon-plus"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>