﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-3">
            <label ng-hide="$ctrl.hideLabel" class="label">{{$ctrl.Label}}</label>
        </div>
        <div class="col-sm-offset-1 col-sm-8" ng-class="{'col-md-12': $ctrl.hideLabel}">
            <input type="hidden" name="{{$ctrl.InputName}}" value="{{$ctrl.Model}}" />
            <md-datepicker ng-model="$ctrl.DatepickerModel" md-open-on-focus ng-disabled="$ctrl.isEditDisabled"
                           ng-change="$ctrl.onDateChange()"></md-datepicker>
            <input class="btn btn-default" type="button" ng-click="$ctrl.clearDate()" value="Reset" style="max-width:5em;" />
            <div class="row" ng-if="(($ctrl.isRequired == true) && ($ctrl.Model == null))">
                <div class="col-sm-12">
                    <span class="validation-message">To pole jest wymagane.</span>
                </div>
            </div>
        </div>
    </div>
</section>