﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-3">
            <label ng-hide="$ctrl.hideLabel" class="label">{{$ctrl.Label}}</label>
        </div>
        <div class="col-sm-offset-1 col-sm-8" ng-class="{'col-md-12': $ctrl.hideLabel}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input ng-model="$ctrl.Model" name="{{$ctrl.InputName}}"
                               type="text" placeholder="{{$root.getWord('Select a date')}}" class="form-control datepicker" 
                               data-smart-datepicker data-date-format="yy-mm-dd"
                               ng-disabled="$ctrl.isEditDisabled" ng-change="$ctrl.onDateChange()">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input class="btn btn-default" type="button" ng-click="$ctrl.clearDate()" value="Reset" style="max-width:5em;" 
                           ng-hide="$ctrl.isEditDisabled || ($ctrl.Model == null)" />
                </div>
            </div>
            
            <div class="row" ng-if="(($ctrl.isRequired == true) && ($ctrl.Model == null))">
                <div class="col-sm-12">
                    <span class="validation-message">To pole jest wymagane.</span>
                </div>
            </div>
        </div>
    </div>
    
</section>