﻿<div class="pinned-nav-buttons"
     style="position: absolute; display: block; top: 49px; right: 0; width: auto; height: 60px; z-index: 905; padding-top: 1em; padding-right: 1em;">

    <div class="row btn-group btn-group-justified">
        <div class="col-sm-2 pull-right" ng-show="$ctrl.isEdited">
            <a href-void class="btn btn-labeled btn-danger" ng-click="$ctrl.SaveActiveItem()" style="width: 100%;"
               ng-class="{'disabled':!$ctrl.isEditedItemChanged || !$ctrl.isModelValid}"><span class="btn-label"><i class="glyphicon glyphicon-floppy-save"></i></span>Zapisz zmiany</a>
        </div>
        <div class="col-sm-2 pull-right" ng-show="$ctrl.isEdited">
            <a href-void class="btn btn-labeled btn-success" ng-click="$ctrl.ResetActiveItem()" style="width: 100%;"
               ng-class="{'disabled':!$ctrl.isEditedItemChanged}"><span class="btn-label"><i class="glyphicon glyphicon-repeat"></i></span>Cofnij zmiany</a>
        </div>
        <div class="col-sm-2 pull-right" ng-show="$ctrl.isEdited">
            <a href-void class="btn btn-labeled btn-info" ng-click="$ctrl.Cancel()" style="width: 100%;"><span class="btn-label"><i class="glyphicon glyphicon-circle-arrow-left"></i></span>Powrót</a>
        </div>
        <div class="col-sm-2 pull-right" ng-show="!$ctrl.isEdited">
            <a href-void class="btn btn-labeled btn-info" ng-click="$ctrl.Cancel()" style="width: 100%;"><span class="btn-label"><i class="glyphicon glyphicon-circle-arrow-left"></i></span>Powrót</a>
        </div>
    </div>
</div>
