﻿<div class="container-fluid" style="margin-bottom: 2em;">
    <div class="row-fluid">
        <div class="col-sm-4">
            <div>
                <h2 ng-show="$ctrl.isEdited && !$ctrl.isNew" style="display: inline-block;">{{$root.getWord('Edit')}}</h2>
                <h3 ng-show="$ctrl.isEdited && !$ctrl.isNew" style="display: inline-block; margin-left: 1em;">{{$ctrl.ItemName}} nr: {{$ctrl.ItemId}}</h3>
            </div>
            <div>
                <h2 ng-show="!$ctrl.isEdited && !$ctrl.isNew" style="display: inline-block;">{{$root.getWord('Details')}}</h2>
                <h3 ng-show="!$ctrl.isEdited && !$ctrl.isNew" style="display: inline-block; margin-left: 1em;">{{$ctrl.ItemName}} nr: {{$ctrl.ItemId}}</h3>
            </div>
            <div>
                <h2 ng-show="$ctrl.isNew" style="display: inline-block;">{{$root.getWord('Add')}}</h2>
                <h3 ng-show="$ctrl.isNew" style="display: inline-block; margin-left: 1em;">{{$ctrl.ItemName}}</h3>
            </div>
        </div>
    </div>
</div>