﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Grupy</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 20%;">Kod</th>
                        <th style="width: 30%;">Nazwa</th>
                        <th style="width: 35%;">Opis</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Group in $ctrl.ItemGroups" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{Group.GroupId}}" name="Groups[{{$index}}].GroupId" 
                                   readonly="readonly" /><span>{{Group.GroupId}}</span>
                        </td>
                        <td>{{Group.GroupId | getGroupCode:$ctrl.Groups}}</td>
                        <td>{{Group.GroupId | getGroupName:$ctrl.Groups}}</td>
                        <td>{{Group.GroupId | getGroupDesc:$ctrl.Groups}}</td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveGroup($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr class="trAddGroup" ng-hide="$ctrl.isEditDisabled">
                        <td colspan="4">
                            <select data-smart-select2 style="width:100%; margin: 2px;" class="select2"
                                    ng-model="$ctrl.SelectedGroupId"
                                    ng-disabled="(($ctrl.Groups == null) || ($ctrl.Groups.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Group in $ctrl.Groups" ng-value="Group.Id">{{Group.Name}}</option>
                            </select>
                        </td>

                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddGroup();"><i class="glyphicon glyphicon-plus"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>