﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Maszyny</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 20%;">Kod</th>
                        <th style="width: 20%;">Model</th>
                        <th style="width: 10%;">Czas jedn.</th>
                        <th style="width: 10%;">Czas P-Z</th>
                        <th style="width: 10%;">Koszt narzędzi</th>
                        <th style="width: 10%;">Pozostałe koszty</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="MachineTimeCost in $ctrl.ItemMachinesTimesCosts" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{MachineTimeCost.MachineId}}" 
                                   name="MachinesTimesCosts[{{$index}}].MachineId" readonly="readonly" /><span>{{MachineTimeCost.MachineId}}</span>
                        </td>
                        <td>{{MachineTimeCost.MachineId | getMachineCode:$ctrl.Machines}}</td>
                        <td>{{MachineTimeCost.MachineId | getMachineModel:$ctrl.Machines}}</td>
                        <td>
                            <input type="number" ng-model="MachineTimeCost.UnitTime" name="MachinesTimesCosts[{{$index}}].UnitTime"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{MachineTimeCost.UnitTime}}" 
                                   ng-change="$ctrl.EditedItemChanged()" />
                        </td>
                        <td>
                            <input type="number" ng-model="MachineTimeCost.PCTime" name="MachinesTimesCosts[{{$index}}].PCTime"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{MachineTimeCost.PCTime}}"  
                                   ng-change="$ctrl.EditedItemChanged()"/>
                        </td>
                        <td>
                            <input type="number" ng-model="MachineTimeCost.ToolCost" name="MachinesTimesCosts[{{$index}}].ToolCost"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{MachineTimeCost.ToolCost}}" 
                                   ng-change="$ctrl.EditedItemChanged()" />
                        </td>
                        <td>
                            <input type="number" ng-model="MachineTimeCost.OtherCost" name="MachinesTimesCosts[{{$index}}].OtherCost"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{MachineTimeCost.OtherCost}}" 
                                   ng-change="$ctrl.EditedItemChanged()" />
                        </td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveMachineTimeCost($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td colspan="3">
                            <select data-smart-select2 style="width:100%" class="select2" ng-model="$ctrl.SelectedMachineId"
                                    ng-disabled="(($ctrl.Machines == null) || ($ctrl.Machines.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Machine in $ctrl.Machines" ng-value="Machine.Id">{{Machine.Code + ' - ' + Machine.Manufacturer + ' - ' + Machine.Model}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" ng-model="$ctrl.UnitTimeToAdd"
                                   class="form-control"/>
                        </td>
                        <td>
                            <input type="number" ng-model="$ctrl.PCTimeToAdd"
                                   class="form-control" />
                        </td>
                        <td>
                            <input type="number" ng-model="$ctrl.ToolCostToAdd"
                                   class="form-control" />
                        </td>
                        <td>
                            <input type="number" ng-model="$ctrl.OtherCostToAdd"
                                   class="form-control" />
                        </td>
                        <td></td>
                        <td >
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddMachineTimeCost();"><i class="glyphicon glyphicon-ok"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>