﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Materiały</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 50%;">Nazwa</th>
                        <th style="width: 20%;">Ilość</th>
                        <th style="width: 10%;">Jednostka</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Material in $ctrl.ItemMaterials" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{Material.MaterialId}}" 
                                   name="Materials[{{$index}}].MaterialId" readonly="readonly" /><span>{{Material.MaterialId}}</span>
                        </td>
                        <td>{{Material.MaterialId | getMaterialName:$ctrl.Materials}}</td>
                        <td>
                            <input type="text" ng-model="Material.Amount" name="Materials[{{$index}}].Amount"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{Material.Amount}}" 
                                   ng-change="$ctrl.EditedItemChanged()" />
                        </td>
                        <td>{{Material.MaterialId | getMaterialUnit:$ctrl.Materials}}</td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveMaterial($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td colspan="2">
                            <select data-smart-select2 style="width:100%" class="select2" ng-model="$ctrl.SelectedMaterialId"
                                    ng-disabled="(($ctrl.Materials == null) || ($ctrl.Materials.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Material in $ctrl.Materials" ng-value="Material.MaterialId">{{Material.Code + ' - ' + Material.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="$ctrl.AmountToAdd"
                                   class="form-control"/>
                        </td>
                        <td></td>
                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddMaterial();"><i class="glyphicon glyphicon-ok"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>