﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Notatki</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 95%;">Notatka</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Note in $ctrl.ItemNotes" class="trItemOnList">
                        <td>
                            <textarea ng-model="Note.Note" ng-change="$ctrl.EditedItemChanged()"
                                      type="text" name="Notes[{{$index}}].Note" class="form-control text-box multi-line"
                                      rows="3" ng-disabled="$ctrl.isEditDisabled"
                                      value="{{Note.Note}}"></textarea>
                        </td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveNote($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr ng-hide="isEditDisabled">
                        <td>
                            <textarea ng-model="$ctrl.NoteToAdd"
                                      type="text" class="form-control text-box multi-line"
                                      rows="3"></textarea>
                        </td>
                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddNote();"><i class="glyphicon glyphicon-ok"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>