﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Operacje</label>
        </div>

        <div class="col-sm-10">
            <table class="table">

                <thead>
                    <tr>
                        <th style="width: 10%; max-width: 10%;">Lp</th>
                        <th style="width: 10%; max-width: 10%;">Id</th>
                        <th style="width: 20%; max-width: 20%;">Typ</th>
                        <th style="width: 25%; max-width: 25%;">Opis</th>
                        <th style="width: 15%; max-width: 15%;">Rozpocznij / Zakończ wszystkie detale razem</th>
                        <th style="width: 13%; max-width: 13%;">Operacje przed</th>
                        <th style="width: 5%; max-width: 5%;"></th>
                        <th style="width: 2%; max-width: 2%;"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="Operation in $ctrl.ItemOperations" class="trItemOnList"
                        ng-class="{'trActiveItem': Operation.OperationId===$ctrl.ActiveItemId}"
                        ng-click="$ctrl.SetActiveItem(Operation.OperationId)">
                        <td>{{($index + 1)}}</td>
                        <td>
                            <input class="form-control" type="hidden" value="{{Operation.OperationId}}" 
                                   name="Operations[{{$index}}].OperationId" readonly="readonly" />
                            <span ng-hide="Operation.OperationId >= 1000000">{{Operation.OperationId}}</span>
                        </td>
                        <td>
                            <select data-smart-select2 style="width:100%" class="select2" 
                                    ng-model="Operation.OperationTypeId"
                                    ng-disabled="(($ctrl.OperationTypes == null) || ($ctrl.OperationTypes.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="OperationType in $ctrl.OperationTypes" 
                                        ng-value="OperationType.Id"
                                        >{{OperationType.Id | getOperationTypeName:$ctrl.OperationTypes}}</option>
                            </select>
                        </td>
                        <td>
                            <textarea ng-model="Operation.Desc" ng-change="$ctrl.EditedItemChanged()"
                                      type="text" name="Operations[{{$index}}].Desc" class="form-control text-box multi-line"
                                      rows="2" ng-disabled="$ctrl.isEditDisabled"
                                      value="{{Operation.Desc}}"></textarea>
                        </td>
                        <td>
                            <div class="index-checkbox-container-horizontal" style="margin-top: 0.5em;">
                                <div style="display: inline-block; position: relative;"
                                     title="Rozpocznij wszystkie detale razem">
                                    <div class="index-checkbox-container">
                                        <input class="index-checkbox" type="checkbox" ng-model="Operation.isStartCollective"
                                               ng-change="$ctrl.EditedItemChanged()" ng-disabled="$ctrl.isEditDisabled" />
                                    </div>
                                    <div style="display: inline-block; position: relative;">
                                        <span style="display: inline-block; position: relative;">Rozpocznij</span>
                                        <div class="batat-icon-medium-container" style="display: inline-block; position: relative;">
                                            <div>
                                                <div class="batat-icon batat-icon-box-full" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: inline-block; position: relative;"
                                     title="Zakończ wszystkie detale razem">
                                    <div class="index-checkbox-container">
                                        <input class="index-checkbox" type="checkbox" ng-model="Operation.isEndCollective"
                                               ng-change="$ctrl.EditedItemChanged()" ng-disabled="$ctrl.isEditDisabled" />
                                    </div>
                                    <div style="display: inline-block; position: relative;">
                                        <span style="display: inline-block; position: relative;">Zakończ</span>
                                        <div class="batat-icon-medium-container" style="display: inline-block; position: relative;">
                                            <div>
                                                <div class="batat-icon batat-icon-box-full" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label>Operacje przed</label>
                            <select data-smart-select2 multiple style="width:100%"
                                    class="select2" name="{{'OperationsBeoreSelectFor' + Operation.OperationId}}"
                                    ng-model="Operation.OperationsBeforeIdxs">
                                <option ng-hide="$first"
                                        ng-repeat="checkbox in $ctrl.getArray($index) track by $index" 
                                        ng-value="$index" title="Wybierz operacje przed dla operacji nr: {{($index + 1)}}"
                                        ng-disabled="$ctrl.isCheckboxDisabled(Operation, $index)"
                                        >{{($index + 1)}}</option>
                            </select>
                        </td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveOperation($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                        <td>
                            <div>
                                <div ng-if="!$first">
                                    <div class="batat-icon-small-container batat-icon-small-container-animate" title="Przesuń wyżej">
                                        <a class="stretch-absolute center-content-both" ng-click="$ctrl.MoveOperationUp($index);">
                                            <div class="batat-icon batat-icon-animate batat-icon-move-operation-up"></div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div ng-if="!$last">
                                    <div class="batat-icon-small-container batat-icon-small-container-animate" title="Przesuń niżej">
                                        <a class="stretch-absolute center-content-both" ng-click="$ctrl.MoveOperationDown($index);">
                                            <div class="batat-icon batat-icon-animate batat-icon-move-operation-down"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td>{{$ctrl.ItemOperations.length + 1}}</td>
                        <td colspan="2">
                            <!--
    <select data-smart-select2 style="width:100%"
            class="select2" name="OperationSelect"
            ng-model="$ctrl.SelectedOperation">
        <option ng-repeat="Operation in $ctrl.Items.Operations" ng-value="Operation">{{Operation.Code + ' - ' + (Operation.OperationTypeId | getOperationTypeName:$ctrl.OperationTypes)}}</option>
    </select>
        -->
                            <select data-smart-select2 style="width:100%" class="select2" name="OperationTypeSelect"
                                    ng-model="$ctrl.SelectedOperationType.Id" ng-disabled="($ctrl.SelectedOperation != null)">
                                <option ng-repeat="OperationType in $ctrl.OperationTypes" ng-value="OperationType.Id">{{OperationType.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <textarea ng-disabled="($ctrl.SelectedOperation != null)"
                                      ng-model="$ctrl.OperationDescToAdd"
                                      type="text" class="form-control text-box multi-line"
                                      rows="2" 
                                      value="{{$ctrl.OperationDescToAdd}}"></textarea>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <div>
                                <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddOperation();" 
                                   ng-if="$ctrl.SelectedOperation == null"><i class="glyphicon glyphicon-ok"></i></a>
                            </div>
                            <input type="button" value="Klonuj..." ng-click="$ctrl.CloneOperation();"
                                   class="form-control"
                                   ng-if="$ctrl.SelectedOperation != null" />
                            <input type="button" value="Nowa..." ng-click="($ctrl.SelectedOperation = null)"
                                   class="form-control"
                                   ng-if="$ctrl.SelectedOperation != null" />
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>