﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Parametry</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 50%;">Nazwa</th>
                        <th style="width: 20%;">Wartość</th>
                        <th style="width: 10%;">Jednostka</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Parameter in $ctrl.ItemParameters" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{Parameter.ParameterId}}" 
                                   name="Parameters[{{$index}}].ParameterId" readonly="readonly" /><span>{{Parameter.ParameterId}}</span>
                        </td>
                        <td>{{Parameter.ParameterId | getParameterName:$ctrl.Parameters}}</td>
                        <td>
                            <input type="text" ng-model="Parameter.Value" name="Parameters[{{$index}}].Value" ng-change="$ctrl.EditedItemChanged()"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{Parameter.Value}}" />
                        </td>
                        <td>{{Parameter.ParameterId | getParameterUnit:$ctrl.Parameters}}</td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveParameter($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td colspan="2">
                            <select data-smart-select2 style="width:100%" class="select2" ng-model="$ctrl.SelectedParameterId"
                                    ng-disabled="(($ctrl.Parameters == null) || ($ctrl.Parameters.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Parameter in $ctrl.Parameters" ng-value="Parameter.ParameterId">{{Parameter.Code + ' - ' + Parameter.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="$ctrl.ValueToAdd"
                                   class="form-control"/>
                        </td>
                        <td></td>
                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddParameter();"><i class="glyphicon glyphicon-ok"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>