﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Detale</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 20%;">Kod</th>
                        <th style="width: 55%;">Nazwa</th>
                        <th style="width: 10%;">Ilość</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Part in $ctrl.ItemParts" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{Part.PartId}}" name="Parts[{{$index}}].PartId" readonly="readonly" /><span>{{Part.PartId}}</span>
                        </td>
                        <td>{{Part.PartId | getPartCode:$ctrl.Parts}}</td>
                        <td>{{Part.PartId | getPartName:$ctrl.Parts}}</td>
                        <td>
                            <input type="number" ng-model="Part.Amount" name="Parts[{{$index}}].Amount" ng-change="$ctrl.EditedItemChanged()"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{Part.Amount}}" />
                        </td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemovePart($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td colspan="3">
                            <select data-smart-select2 style="width:100%" class="select2" ng-model="$ctrl.SelectedPartId"
                                    ng-disabled="(($ctrl.Parts == null) || ($ctrl.Parts.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Part in $ctrl.Parts" ng-value="Part.Id">{{Part.Code + ' - ' + Part.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" ng-model="$ctrl.AmountToAdd"
                                   class="form-control" min="1"/>
                        </td>
                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddPart();"><i class="glyphicon glyphicon-ok"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>