﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Produkty</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 10%;">Kod</th>
                        <th style="width: 25%;">Nazwa</th>
                        <th style="width: 10%;">Ilość</th>
                        <th style="width: 10%;">Cena netto</th>
                        <th style="width: 10%;">Rabat [%]</th>
                        <th style="width: 10%;">Cena po rabacie</th>
                        <th style="width: 10%;">Wartość</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Product in $ctrl.ItemProducts" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{Product.ProductId}}" name="Products[{{$index}}].ProductId" readonly="readonly" /><span>{{Product.ProductId}}</span>
                        </td>
                        <td>{{Product.ProductId | getProductCode:$ctrl.Products}}</td>
                        <td>{{Product.ProductId | getProductName:$ctrl.Products}}</td>
                        <td>
                            <input type="number" ng-model="Product.Amount" name="Products[{{$index}}].Amount" ng-change="$ctrl.AmountChanged(Product)"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" min="1" />
                        </td>
                        <td>{{Product.ProductId | getProductNetPrice:$ctrl.Products | getCurrency}}</td>
                        <td>
                            <input type="number" ng-model="Product.Discount" name="Products[{{$index}}].Discount" ng-change="$ctrl.DiscountChanged(Product)"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" min="0" max="100" />
                        </td>
                        <td>{{Product.NetPriceAfterDiscount | getCurrency}}</td>
                        <td>{{Product.NetWorthAfterDiscount | getCurrency}}</td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveProduct($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td colspan="3">
                            <select data-smart-select2 style="width:100%" class="select2" ng-model="$ctrl.SelectedProductId"
                                    ng-disabled="(($ctrl.Products == null) || ($ctrl.Products.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Product in $ctrl.Products" ng-value="Product.Id">{{Product.Code + ' - ' + Product.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" ng-model="$ctrl.AmountToAdd"
                                   class="form-control" min="1"/>
                        </td>
                        <td></td>
                        <td>
                            <input type="number" ng-model="$ctrl.DiscountToAdd"
                                   class="form-control" min="0" max="100"/>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddProduct();"><i class="glyphicon glyphicon-plus"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>