﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">{{$ctrl.Label}}</label>
        </div>
        <!--  -->
        <div class="col-sm-10">
            <input type="hidden" name="{{$ctrl.InputName}}" value="{{$ctrl.Model}}" />
            <select data-smart-select2 
                    style="width:100%" class="select2" name="{{$ctrl.selectName}}"
                    ng-model="$ctrl.Model" ng-change="$ctrl.onSelected()"
                    refresh-check-value="$ctrl.refreshCheckValue"
                    ng-disabled="(($ctrl.SelectOptions == null) || ($ctrl.SelectOptions.length === 0) || ($ctrl.isEditDisabled === true))"
                    >
                <option ng-repeat="Option in $ctrl.SelectOptions" ng-value="Option.Value">{{Option.Name}}</option>
            </select>
            <div class="row" ng-if="(($ctrl.isRequired == true) && ($ctrl.Model == null))">
                <div class="col-sm-12">
                    <span class="validation-message">To pole jest wymagane.</span>
                </div>
            </div>
        </div>
    </div>
</section>