﻿<div class="container-fluid">
    <div class="row-fluid">
        <select-list-edit ng-data-select-name="SubjectSelect"
                          ng-data-model="$ctrl.ActiveItem.SubjectId"
                          ng-data-label="Odbiorca"
                          ng-data-placeholder="Wybierz odbiorcę..."
                          ng-data-input-name="SubjectId"
                          ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState123"
                          ng-data-select-options="$ctrl.SelectOptions"
                          ng-func-on-change="$ctrl.onSubjectSelectChange();"
                          ng-data-is-required="true"
                          ng-data-can-clear="false"></select-list-edit>
    </div>
</div>