﻿<div class="container-fluid">
    <div class="row-fluid">
        <select-list-edit ng-data-select-name="SubjectSelect"
                          ng-data-model="$ctrl.ActiveItem.SubjectId" ng-data-label="Odbiorca"
                          ng-data-placeholder="Wybierz odbiorcę..."
                          ng-data-input-name="SubjectId" ng-data-is-edit-disabled="$ctrl.isEditDisabled.OrderState123"
                          ng-data-select-options="$ctrl.SelectOptions.Subject"
                          ng-func-on-change="$ctrl.onSubjectSelectChange();"
                          ng-data-is-required="true"
                          ng-data-validation-property="$ctrl.ValidationObject.SubjectId"
                          ng-data-can-clear="false"></select-list-edit>

        <select-list-edit ng-data-select-name="ContactSelect"
                          ng-data-model="$ctrl.ActiveItem.ContactId" ng-data-label="Kontakt"
                          ng-data-placeholder="Wybierz kontakt..."
                          ng-data-input-name="ContactId" ng-data-is-edit-disabled="$ctrl.isEditDisabled.Never"
                          ng-data-select-options="$ctrl.SelectOptions.Contact"
                          ng-func-on-change="$ctrl.EditedItemChanged()"
                          ng-data-is-required="false"
                          ng-data-validation-property="$ctrl.ValidationObject.ContactId"
                          ng-data-can-clear="true"></select-list-edit>
    </div>
</div>