﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2 col-xs-4">
            <label class="label">{{$ctrl.Label}}</label>
        </div>
        <div class="col-sm-10 col-xs-8">
            <input type="hidden" name="{{$ctrl.InputName}}" value="{{$ctrl.Model}}"/>
            <input type="{{$ctrl.InputType}}" ng-model="$ctrl.Model" ng-disabled="$ctrl.isEditDisabled" 
                   class="form-control" min="{{$ctrl.Min}}" max="{{$ctrl.Max}}" ng-change="$ctrl.EditedItemChanged()"/>
        </div>
    </div>
</section>