﻿<section class="container-fluid"> 
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">{{$ctrl.Label}}</label>
        </div>
        <div class="col-sm-10">
            <textarea ng-model="$ctrl.Model" ng-change="$ctrl.EditedItemChanged()"
                      type="text" name="{{$ctrl.InputName}}" class="form-control text-box multi-line"
                      rows="5" ng-disabled="$ctrl.isEditDisabled"
                      value="{{$ctrl.Model}}"></textarea>
        </div>
    </div>
</section>