﻿<section class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-2">
            <label class="label">Narzędzia</label>
        </div>

        <div class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Id</th>
                        <th style="width: 50%;">Nazwa</th>
                        <th style="width: 20%;">Zużycie</th>
                        <th style="width: 10%"></th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Tool in $ctrl.ItemTools" class="trItemOnList">
                        <td>
                            <input class="form-control" type="hidden" value="{{Tool.ToolId}}" 
                                   name="Tools[{{$index}}].ToolId" readonly="readonly" /><span>{{Tool.ToolId}}</span>
                        </td>
                        <td>{{Tool.ToolId | getToolName:$ctrl.Tools}}</td>
                        <td>
                            <input type="text" ng-model="Tool.Utilization" name="Tools[{{$index}}].Utilization"
                                   class="form-control" ng-disabled="$ctrl.isEditDisabled" value="{{Tool.Utilization}}"
                                   ng-change="$ctrl.EditedItemChanged()" />
                        </td>
                        <td>%</td>
                        <td>
                            <a href-void class="btn btn-danger btn-xs" ng-click="$ctrl.RemoveTool($index);"
                               ng-hide="$ctrl.isEditDisabled"><i class="glyphicon glyphicon-minus"></i></a>
                        </td>
                    </tr>

                    <tr ng-hide="$ctrl.isEditDisabled">
                        <td colspan="2">
                            <select data-smart-select2 style="width:100%" class="select2" ng-model="$ctrl.SelectedToolId"
                                    ng-disabled="(($ctrl.Tools == null) || ($ctrl.Tools.length === 0) || ($ctrl.isEditDisabled === true))">
                                <option ng-repeat="Tool in $ctrl.Tools" ng-value="Tool.ToolId">{{Tool.Code + ' - ' + Tool.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="$ctrl.UtilizationToAdd"
                                   class="form-control"/>
                        </td>
                        <td></td>
                        <td>
                            <a href-void class="btn btn-success btn-xs" ng-click="$ctrl.AddTool();"><i class="glyphicon glyphicon-ok"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="height: 3px;" />
        </div>
    </div>
</section>