﻿<!-- RIBBON -->
<edit-ribbon ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"
             ng-data-is-edited="!$ctrl.isEditDisabled.Never"
             ng-func-reset-active-item="$ctrl.ResetActiveItem()"
             ng-func-save-active-item="$ctrl.SaveActiveItem()"
             ng-data-is-model-valid="$ctrl.isModelValid"></edit-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section widget-grid id="widget-grid">
        <article class="edit-content">

            <edit-header ng-data-is-edited="!$ctrl.isEditDisabled"
                         ng-data-is-new="(($ctrl.ActiveItem.Id == null) || ($ctrl.ActiveItem.Id == 0))"
                         ng-data-item-name="Materiał"
                         ng-data-item-id="$ctrl.ActiveItem.Id"
                         ng-data-go-back-url="#/Materials"
                         ng-data-is-edited-item-changed="$ctrl.isEditedItemChanged"></edit-header>

            <edit-server-validation-error ng-data-server-validation-error="$ctrl.ServerValidationError"></edit-server-validation-error>

            <form class="smart-form" method="post" action="{{'/Materials/Edit?Id='+$ctrl.ActiveItem.Id}}">
                <div class="form-horizontal">
                    <div>
                        <input type="hidden" name="MaterialId" value="{{$ctrl.ActiveItem.Id}}" />
                    </div>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Name" ng-data-label="Nazwa"
                                     ng-data-input-name="Name" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.Code" ng-data-label="Kod"
                                     ng-data-input-name="Code" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="text" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <groups-table-edit ng-data-item-groups="$ctrl.ActiveItem.Groups" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                       ng-func-on-change="$ctrl.EditedItemChanged()"></groups-table-edit>

                    <select-list-edit ng-data-model="$ctrl.ActiveItem.MaterialTypeId" ng-data-label="Typ materiału"
                                      ng-data-placeholder="Wybierz typ materiału..."
                                      ng-data-input-name="MaterialTypeId" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                      ng-data-select-options="$ctrl.SelectOptions.MaterialType"
                                      ng-func-on-change="$ctrl.EditedItemChanged()"
                                      ng-data-is-required="true"
                                      ng-data-validation-property="$ctrl.ValidationObject.MaterialTypeId"
                                      ng-data-can-clear="false"></select-list-edit>

                    <text-input-edit ng-data-model="$ctrl.ActiveItem.UnitCost" ng-data-label="Koszt jednostkowy"
                                     ng-data-input-name="UnitCost" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                     ng-data-input-type="number" ng-func-on-change="$ctrl.EditedItemChanged()"></text-input-edit>

                    <textbox-edit ng-data-model="$ctrl.ActiveItem.Desc" ng-data-label="Opis"
                                  ng-data-input-name="Desc" ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                  ng-func-on-change="$ctrl.EditedItemChanged()"></textbox-edit>

                    <parameters-table-edit ng-data-item-parameters="$ctrl.ActiveItem.Parameters"
                                           ng-data-is-edit-disabled="$ctrl.isEditDisabled"
                                           ng-func-on-change="$ctrl.EditedItemChanged()"></parameters-table-edit>


                </div>
            </form>

            <changes-table-display ng-data-item-changes="$ctrl.ActiveItem.Changes"></changes-table-display>
        </article>
    </section>
</div>