﻿<!-- RIBBON -->
<index-ribbon ng-data-items-count="$ctrl.ViewData.ItemsCount"
              ng-data-active-item-id="$ctrl.ViewState.SessionViewSettings.ActiveItemId"
              ng-data-dictionary="$ctrl.IndexHeaderDictionary"
              ng-func-clear-expanded="$ctrl.ClearExpanded()"
              ng-data-are-items-expandable="false"></index-ribbon>
<!-- END RIBBON -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <article class="index-table-container">
            <!-- table here -->
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <!-- Id -->
                    <th class="table-header table-header-clickable"
                        ng-click="$ctrl.SortItems('Id')">Id</th>
                    <!-- Nazwa -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]" ng-click="$ctrl.SortItems('Name')">Nazwa</th>
                    <!-- Kod -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]" ng-click="$ctrl.SortItems('Code')">Kod</th>
                    <!-- Opis -->
                    <th class="table-header table-header-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]" ng-click="$ctrl.SortItems('Desc')">Opis</th>
                    <th></th>
                </tr>


                <tr ng-repeat="Group in $ctrl.Items.Groups" ng-show="Group.Visible"
                    ng-class="{'trActiveItem': Group.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}"
                    class="trItemOnList"
                    ng-click="$ctrl.SetActiveItem(Group.Id)">
                    <!-- Id -->
                    <td class="table-cell-non-clickable">
                        <div style="width:{{$ctrl.ViewData.IdColumnWidth}}" class="divItemOnList divItemOnList-Number divItemOnList-Id"
                             ng-class="{'divItemOnList-Active': Group.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Group.Id  | getIdFormattedString}}</div>
                    </td>
                    <!-- Nazwa -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[0]">
                        <div style="width:{{$ctrl.ViewData.NameColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Group.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Group.Name}}</div>
                    </td>
                    <!-- Kod -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[1]">
                        <div style="width:{{$ctrl.ViewData.CodeColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Group.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Group.Code}}</div>
                    </td>
                    <!-- Opis -->
                    <td class="table-cell-non-clickable"
                        ng-show="$ctrl.ViewState.ViewSettings.ColumnsVisibility[2]">
                        <div style="width:{{$ctrl.ViewData.DescColumnWidth}}" class="divItemOnList"
                                ng-class="{'divItemOnList-Active': Group.Id==$ctrl.ViewState.SessionViewSettings.ActiveItemId}">{{Group.Desc}}</div>
                    </td>
                    <td></td>
                </tr>
            </table>
            <!--  -->
        </article>
    </section>
</div>
<div class="index-sidebar-container" ng-class="{'index-sidebar-container-active': $ctrl.sidebarActive === true}">
    <div class="index-sidebar-show-button"
         ng-click="$ctrl.sidebarActive = !$ctrl.sidebarActive;"></div>
    <index-sidebar ng-data-view-state="$ctrl.ViewState"
                   ng-func-filter-items="$ctrl.FilterItems()"
                   ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                   ng-data-view-name="$ctrl.ViewName"></index-sidebar>
</div>