﻿
<section id="widget-grid" widget-grid>
    <div class="row">
        <article class="col-sm-9" style="padding: 2em;">
            <div class="row">
                <div class="col-sm-12" style="background-color: white; border-radius: 0.3em;">
                    <!-- index-header here -->

                    <!--  -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="index-table-container">
                        <!-- table here -->

                        <!--  -->
                    </div>
                </div>
            </div>

        </article>

        <article class="col-sm-3 index-sidebar-container">
            <index-sidebar ng-data-view-state="$ctrl.ViewState" ng-func-filter-items="$ctrl.FilterItems()"
                            ng-data-columns-visibility-dictionary="$ctrl.ColumnsAndPropertiesNames"
                            ng-data-view-name="$ctrl.ViewName"></index-sidebar>
        </article>
    </div>
</section>
