﻿.edit-body {
    bottom:0;
    top:0;
    left:0;
    right:0;
    position: fixed;
    display: block;
    
    margin: 0;
    padding: 4%;
    overflow: auto;

}

.edit-content {
    font-size: 0.8em;
}

.changes-table-container {
    margin-top: 5em;
    max-height: 400px;
    overflow-y: scroll;
}

.edit-label {
    float: left;
}

.edit-buttons-container {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1%;
    width: 100%;
    background-color: rgb(213, 208, 202);
}

.edit-row {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ui-select-container {
}


.validation-message {
    font-size: 0.8em;
    color: darkred;
}


.fc-sat {
    background-color: rgb(213, 208, 202);
}

.fc-sun {
    background-color: rgb(213, 208, 202);
}

.fc-event {
    cursor: pointer;
}
