﻿.home-screen-body {
    bottom:0;
    top: 3em;
    left:0;
    right:0;
    position: fixed;
    display: block;
    
    margin: 0;
    padding: 3%;
    overflow: hidden;
}

.home-screen-tiles-container {
    height: 100%;
}

.home-screen-tiles-row {
    height: 100%;
}

.home-screen-tile {
    height: 50%;
    min-height: 50%;
    max-height: 50%;
}

.home-screen-link {
    position: relative;
    display: inline-block;
    min-height: 100%;
    min-width: 100%;
    background-color: #5d5959;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.home-screen-link:hover {
    background-color: #817e7e;
    border: 1em solid #353333;
    background-size: 20%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.home-screen-link-database-panel {
    background-image: url("images/Icons/server-linear.png");
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.home-screen-link-operator-panel {
    background-image: url("images/Icons/user-2-linear.png");
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.home-screen-link-production-panel {
    background-image: url("images/Icons/calendar-2-linear.png");
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.home-screen-link-statistics-panel {
    background-image: url("images/Icons/bar-chart-linear.png");
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}