﻿
.batat-icon {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-animate {
    background-size: 70%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-large-container {
    width: 3em;
    height: 3em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid gray;
    border-radius: 0.3em;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-large-container-animate {

}

.batat-icon-large-container-animate:hover {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-large-container-animate:hover > * > .batat-icon-animate {
    background-size: 80%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-small-container {
    width: 1.4em;
    height: 1.4em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: solid;
    border-radius: 0.3em;
    border-color: transparent;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-small-container-animate {

}

.batat-icon-small-container-animate:hover {
    background-color: whitesmoke;
    border-color: lightgray;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-small-container-animate:hover > * > .batat-icon-animate {
    background-size: 95%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}



.batat-icon-medium-container {
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: solid;
    border-radius: 0.3em;
    border-color: transparent;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-medium-container-animate {

}

.batat-icon-medium-container-animate:hover {
    background-color: whitesmoke;
    border-color: lightgray;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.batat-icon-medium-container-animate:hover > * > .batat-icon-animate {
    background-size: 95%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}


.batat-icon-indicator-container {
    min-width: 0.6em;
    max-width: 0.6em;
    width: 0.6em;
    min-height: 1.2em;
    max-height: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}




.batat-icon-reset-view-settings {
    background-image: url("images/Icons/EmptyTrash-52.png");
}

.batat-icon-save-view-settings {
    background-image: url(images/Icons/SaveAs-48.png);
}

.batat-icon-query-view-settings {
    background-image: url("images/Icons/Businessman-64.png");
}

.batat-icon-add-new-item-gray {
    background-image: url("images/Icons/AddFile-52-gray.png");
}

.batat-icon-add-new-item-black {
    background-image: url("images/Icons/AddFile-52-black.png");
}

.batat-icon-edit-item {
    background-image: url("images/Icons/Edit-52-gray.png");
}

.batat-icon-details-item {
    background-image: url("images/Icons/Paste-52-gray.png");
}

.batat-icon-clone-item {
    background-image: url("images/Icons/Copy-52-gray.png");
}

.batat-icon-unauthorize-item-gray {
    background-image: url("images/Icons/Unauthorize-52-gray.png");
}

.batat-icon-unauthorize-item-black {
    background-image: url("images/Icons/Unauthorize-52-black.png");
}

.batat-icon-into-production-item-gray {
    background-image: url("images/Icons/Hydroelectric-50-gray.png");
}

.batat-icon-into-production-item-black {
    background-image: url("images/Icons/Hydroelectric-50-black.png");
}

.batat-icon-authorize-item-gray {
    background-image: url("images/Icons/Authorize-52-gray.png");
}

.batat-icon-authorize-item-black {
    background-image: url("images/Icons/Authorize-52-black.png");
}

.batat-icon-collapse-all {
    background-image: url("images/Icons/collapse-window-option.png");
}

.batat-icon-move-operation-up {
    background-image: url("images/Icons/Arrow-Up-64.png");
}

.batat-icon-move-operation-down {
    background-image: url("images/Icons/Arrow-Down-64.png");
}

.batat-icon-checked-item {
    background-image: url("images/Icons/checked.png");
}

.batat-icon-checked-item-dark {
    background-image: url("images/Icons/checked-dark.png");
    cursor: default;
}

.batat-icon-unchecked-item {
    background-image: url("images/Icons/unchecked.png");
}

.batat-icon-sort-items {
    background-image: url("images/Icons/sort.png");
}

.batat-icon-priority {
    background-image: url("images/Icons/star-number-one.png");
}

.batat-icon-box-full {
    background-image: url("images/Icons/BoxFilled-52.png");
}

.batat-icon-order-state {
    width: 1.5em;
    height: 1.5em;
    align-self: center;
    display: inline-block;
    margin: auto;
}

.batat-icon-planned-0-percent {
    background-image: url("images/Icons/planned-indicator-0-percent.png");
}

.batat-icon-planned-1-percent-green {
    background-image: url("images/Icons/planned-indicator-25-percent-green.png");
}

.batat-icon-planned-50-percent-green {
    background-image: url("images/Icons/planned-indicator-50-percent-green.png");
}

.batat-icon-planned-75-percent-green {
    background-image: url("images/Icons/planned-indicator-75-percent-green.png");
}

.batat-icon-planned-100-percent-green {
    background-image: url("images/Icons/planned-indicator-100-percent-green.png");
}

.batat-icon-planned-1-percent-orange {
    background-image: url("images/Icons/planned-indicator-25-percent-orange.png");
}

.batat-icon-planned-50-percent-orange {
    background-image: url("images/Icons/planned-indicator-50-percent-orange.png");
}

.batat-icon-planned-75-percent-orange {
    background-image: url("images/Icons/planned-indicator-75-percent-orange.png");
}

.batat-icon-planned-100-percent-orange {
    background-image: url("images/Icons/planned-indicator-100-percent-orange.png");
}