﻿.horizontal-ruler-in-filtering {
    padding: 0;
    margin: 0.5em;
}

.btn-in-filtering {
    padding: 0.2em;
    width: 30% !important;
}

.select2-container {
    width: 100% !important;
}


.database-panel-body {
    background: no-repeat url('images/IpomeaLogo.jpg');
    background-position-y: 90%; 
    background-position-x: 1%; 
    background-size: 10%;
}

.index-body {
    bottom:0;
    top:0;
    left:0;
    right:0;
    position: fixed;
    display: block;
    
    margin: 0;
    padding: 0;

    max-width: 100vw;
    max-height: 100vh;
    overflow: scroll;

    color: black;
}

.index-content {
    bottom:0;
    top:0;
    left:0;
    right:20vw;
    position: absolute;
    display: block;

    margin-top: 5vh;

    max-width: 80vw;
    max-height: 90vh;
}

.index-sidebar-container {
    z-index: 1000;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: -30.5vw;   
    width: 32vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    font-size: 0.8em;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.index-sidebar-container-active {
    right: -1vw;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.index-sidebar-show-button {
    width: 1.5vw; 
    height: 200px; 
    background: rgb(71, 69, 68); 
    position: relative; 
    display: inline-block; 
    vertical-align: top;
    cursor: pointer;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.index-sidebar-show-button:hover {
    background: rgb(120, 114, 111);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.index-sidebar-content {
    width: 29vw;
    height: 100%;
    position: relative; 
    display: inline-block; 
    border: 2px solid gray; 
    padding: 1em; 
    vertical-align: top; 
    overflow-y: auto; 
    overflow-x: hidden;
    background-color: white;
}

.index-sidebar-buttons {
    display: block;
    position: relative;
    margin-top: 3em;
    vertical-align: bottom;
}

.index-header {
    position: relative;
    display: block;

    margin: 2em;
    padding: 1em;
    overflow: auto;

    background-color: #FAFAFA;
}

.index-table-container {
    height: 70vh;
    overflow-y: auto;
    background-color: white;
    padding: 2em;
    font-size: 0.8em;
}

.index-table {
    bottom:0;
    top:25vh;
    left:0;
    right:0;
    position: absolute;
    display: block;

    margin: 2em;
    padding: 3em;
    overflow: auto;

    background-color: rgba(224,222,220,0.7);
    border-radius: 0.2em;
    border-top: 0.6em solid rgb(156,154,152);
    border-bottom: 0.6em solid rgb(156,154,152);
}

.index-header-left {
    position: relative;
    display: inline-block;
    float: left;
    height: auto;
    width: auto;
    margin-left: 2em;
}

.index-header-right {
    position: relative;
    display: inline-block;
    float: right;
    height: auto;
    width: auto;
    margin-right: 2em;
    margin-top: 1em;
    min-width: 10%;
}

.index-header-bottom {
    clear: both;
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 2em;
}



.index-header-icons-horizontal-container {
    height: 4em;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.index-header-icons-container {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

#header-icons-horizontal-ruler {
    margin: 0.2em;
    padding: 0;
    display: block;
    position: relative;
}

.index-checkbox-container-horizontal {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
}

.index-checkbox-container {
    width: 1.8em;
    height: 1.8em;
    min-width: 1.8em;
    min-height: 1.8em;
    max-width: 1.8em;
    max-height: 1.8em;
    padding: 0;

    display: block;
    float: left;
    clear: both;
    position: relative;

    border-style: solid;
    border-width: 0.4em;
    border-radius: 0.3em;
    border-color: transparent;
    -moz-transition: all 0.3s ease;
}

.index-checkbox-container:hover {
    border-color: lightgray;
    -moz-transition: all 0.3s ease;
}

.index-checkbox {
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    padding: 0;
    display: block;
}


.index-checkbox:hover {
    cursor: pointer;
}