﻿.operator-panel-body {
    bottom:0;
    top:0;
    left:0;
    right:0;
    position: fixed;
    display: block;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media all and (min-width: 1100px) {
    .operator-panel-header {
        left: 30%;
        right: 30%;
    }

    .operator-panel-content {
        left: 30%;
        right: 30%;
    }
}

@media all and (min-width: 960px) and (min-width: 1100px) {
    .operator-panel-header {
        left: 30%;
        right: 30%;
    }

    .operator-panel-content {
        left: 30%;
        right: 30%;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .operator-panel-header {
        left: 15%;
        right: 15%;
    }

    .operator-panel-content {
        left: 15%;
        right: 15%;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .operator-panel-header {
        left: 3%;
        right: 3%;
    }

    .operator-panel-content {
        left: 3%;
        right: 3%;
    }
}

.operator-panel-header {
    padding: 2em;
    display: block;
    position: fixed;
    top: 3em;
    bottom: 82%;
    background-color: rgba(228,226,224, 1);
    border-radius: 1em;
    overflow-y: hidden;
}

.operator-panel-content {
    padding: 2em;
    display: block;
    position: fixed;
    top: 20%;
    bottom: 3%;
    background-color: rgba(228,226,224, 1);
    border-radius: 1em;
    overflow-y: scroll;
}


.operator-task-container {
    display: block;
    position: relative;
    width: 94%;
    max-height: 33%;
    height: 18em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
    background-color: rgb(212, 208, 204);
    border-radius: 1em;

}

.operator-task-content-left {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 10%;
    margin: 0;
    padding: 0;
    background-color: rgb(188, 188, 180);
}

.operator-task-content-right {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 10%;
    margin: 0;
    padding: 0;
    background-color: rgb(188, 188, 180);
}

.operator-task-content-center {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 78%;
    margin: 0;
    padding: 0;
}

.operator-task-container-running {
    border-top: 1em solid darkgreen;
    border-bottom: 1em solid darkgreen;
    border-radius: 0.1em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-container-paused {
    border-top: 1em solid darkorange;
    border-bottom: 1em solid darkorange;
    border-radius: 0.1em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-container-error {
    border-top: 1em solid yellow;
    border-bottom: 1em solid yellow;
    border-radius: 0.1em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-container-ended {
    border-top: 1em solid black;
    border-bottom: 1em solid black;
    border-radius: 0.1em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-container-date-exceeded {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-container-currently-planned {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-icon-container-small {
    display: block;
    position: relative;
    width: 4em;
    height: 4em;
    margin: 0.5em;
    box-shadow: 0px 0px 5px rgb(88,86,84);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-icon-container-large {
    display: block;
    position: relative;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    box-shadow: 0px 0px 5px rgb(88,86,84);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-icon-container:hover {
    box-shadow: 0px 0px 5px rgb(34,32,30);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.operator-task-icon-container-round {
    border-radius: 50%;
}

.operator-task-icon-container-rectangular {
    border-radius: 0.1em;
}

.operator-task-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-icon:hover {
    background-size: 90%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.operator-task-icon-play {
    background-image: url("images/Icons/play-button.png");
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.operator-task-icon-pause {
    background-image: url("images/Icons/pause.png");
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.operator-task-icon-report {
    background-image: url("images/Icons/error.png");
}

.operator-task-icon-details {
    background-image: url("images/Icons/notepad.png");
}

.operator-task-icon-message {
    background-image: url("images/Icons/list.png");
}

