﻿.production-panel-body {
    bottom:0;
    top:4em;
    left:0;
    right:0;
    position: fixed;
    display: block;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.selection-table-container {
    display: block;
    position: absolute;
    top: 2em;
    bottom: 5em;
    width: 80vw;
    max-width: 80vw;
    z-index: 9999;
    background-color: aliceblue;
}

.selection-table-container-inactive {
    left: -79vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.selection-table-container-active {
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.selection-table-activator {
    display: block;
    position: absolute;
    top: 0;
    left: 98%;
    bottom: 0;
    right: 0;
    height: 90%;
    background-color: black;
}




.selection-table-body {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    margin: 0;
    margin-left: 1em;
    padding: 1%;
}

.selection-table-header {
    max-width: 38vw;
    max-height: 10%;
}

.selection-table-filters {
    position: absolute;
    z-index: 9999;
    left: -41em;
    width: 42em;
    top: 0;
    height: 60vh;
    margin: 0;
    padding: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0.1em;
    border-right: 1em solid rgba(100, 96, 92, 1);
    background-color: rgba(200,195,190, 1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.selection-table-filters:hover {
    left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.selection-table-orders-body {
    max-width: 38vw;
    max-height: 100%;
    min-height: 100%;
    position: relative;
    display: block;
    margin: 0;
    padding: 2%;
    
}

.selection-table-orders-container {
    max-height: 80vh;
    min-height: 80vh;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}


.order-instance-container {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    padding: 1%;
    border-bottom: 3px solid #c4bcb5;
    background-color: rgba(255, 255, 255, 0.20);
}

.order-instance-main-row {
    min-height: 4.0em;
    max-height: 4.0em;
    padding-top: 0.4em;
    overflow: hidden;
}

.order-instance-main-row:hover {
    background-color: rgba(0,0,0, 0.20);
}

.order-instance-main-row-active {
    background-color: #c4bcb5;
}

.order-instance-parts-row {
    background-color: #f4f1f0;
    margin-top: 1em;
    margin-left: 1em;
    background-color: rgba(255, 255, 255, 0.20);
}

.order-instance-order-info {
    display: block;
    position: relative;
    float: left;
    margin-right: 0.3em;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.production-part-container {
    width: 100%;
    height: auto;
    padding: 1%;
    margin-left: 1%;
    border-left: 0.2em solid #534d4d;
}

.production-part-main-row {
    min-height: 3.0em;
    max-height: 3.0em;
    padding-top: 0.4em;
    overflow: hidden;
}

.production-part-main-row:hover {
    background-color: #e1dad2;
}

.production-part-main-row-active {
    background-color: #c4bcb5;
}

.production-part-products-row {
    margin-top: 1em;
    margin-left: 1em;
}

.production-part-info {
    display: block;
    position: relative;
    float: left;
    margin-right: 0.3em;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 5em;
    min-height: 2em;
    max-height: 2em;
}

.production-product-container {
    width: 100%;
    height: auto;
    padding: 1%;
    margin-left: 1%;
}

.production-product-main-row {
    min-height: 3.0em;
    max-height: 3.0em;
    padding-top: 0.4em;
    overflow: hidden;
}

.production-product-main-row:hover {
    background-color: #e1dad2;
}

.production-product-technologies-row {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.production-product-info {
    display: block;
    position: relative;
    float: left;
    margin-right: 0.3em;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 5em;
    min-height: 2em;
    max-height: 2em;
}

.production-technology-container {
    width: 100%;
    height: auto;
    margin-left: 1%;
}

.production-technology-main-row {
    min-height: 3em;
    padding-top: 0.4em;
    overflow: hidden;
}

.production-technology-main-row:hover {
    background-color: #e1dad2;
}

.production-technology-operations-row {
    margin-top: 0.5em;
    margin-left: 1em;
}

.production-technology-info {
    display: block;
    position: relative;
    float: left;
    margin-right: 0.3em;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 2.5em;
    min-height: 2em;
    max-height: 2em;
}


.production-operation-container {
    width: 100%;
    height: auto;
    margin-left: 1%;
    border-left: 0.2em solid #7e7777;
}

.production-operation-main-row {
    min-height: 3em;
    padding-top: 0.4em;
    overflow: hidden;
}

.production-operation-main-row:hover {
    background-color: #e1dad2;
}

.production-operation-operation-instances-row {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.production-operation-info {
    display: block;
    position: relative;
    float: left;
    margin-right: 0.3em;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 5em;
    min-height: 2em;
    max-height: 2em;
}

.operation-instance-container {
    width: 100%;
    height: auto;
    margin-left: 1%;
    border-left: 0.2em solid #7e7777;
}

.operation-instance-main-row {
    min-height: 3em;
    padding-top: 0.4em;
    overflow: hidden;
    background-color: rgba(255, 78, 78, 0.30);
}

.operation-instance-main-row:hover {
    background-color: rgba(255, 78, 78, 0.50);
}





.technology-pick-body {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 2%;

    margin: 0;
    padding: 1%;
}

.technology-pick-content {
    margin: 0;
    padding: 1%;
    border-radius: 1em;
    overflow-y: scroll;
}


.order-instance-indicator-container {
    position: absolute;
    display: block; 
    left: 1em;
    right: 1em;
}

.order-instance-indicator-container-started {
    border-left: 4px solid rgba(255, 157, 0, 0.5);
    border-right: 4px solid rgba(255, 157, 0, 0.5);
}

.order-instance-planned-indicator {
    height: 3.2em;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 157, 0, 0.2);
}
.order-instance-made-indicator {
    height: 3px !important;
    min-height: 3px;
    max-height: 3px;
    margin: 0;
    padding: 0;
    background-color: royalblue; 
}

.production-part-indicator-container {
    position: absolute;
    display: block; 
    left: 3.5em;
    right: 1em;
}

.production-part-indicator-container-started {
    border-left: 4px solid rgba(8, 127, 0, 0.5);
    border-right: 4px solid rgba(8, 127, 0, 0.5);
}

.production-part-planned-indicator {
    height: 2em;
    margin: 0;
    padding: 0;
    background-color: rgba(8, 127, 0, 0.2); 
}

.production-part-made-indicator {
    height: 3px !important;
    min-height: 3px;
    max-height: 3px;
    margin: 0;
    padding: 0;
    background-color: royalblue; 
}

.production-product-indicator-container {
    position: absolute;
    display: block; 
    left: 5.5em;
    right: 1.0em;
}

.production-product-indicator-container-started {
    border-left: 4px solid rgba(0, 110, 255, 0.5);
    border-right: 4px solid rgba(0, 110, 255, 0.5);
}

.production-product-planned-indicator {
    height: 2em;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 110, 255, 0.2); 
}
.production-product-made-indicator {
    height: 3px !important;
    min-height: 3px;
    max-height: 3px;
    background-color: royalblue; 
    margin: 0;
    padding: 0;
}

.selection-table-filter-choose-items-tile {
    background-color: rgb(120,116,112);
}

.selection-table-filter-choose-items-tile:hover {
    background-color: rgb(100,96,92);
}

.selection-table-filter-choose-items-tile-active {
    background-color: rgb(70,68,62);
}