﻿@media all and (min-width: 960px) {
    .html-base {
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .html-base {
        font-size: 12px;    
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .html-base {
        font-size: 6px;
    }
}

.html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.html-base {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.body-base {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 50px !important;
    font-size: 1em;
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgb(239, 237, 235) 20%, rgb(245, 243, 241));
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.form-horizontal .control-label {
    text-align: left;
}

.navbar-shared-top {
    top:0;
    left:0;
    right:0;
    height: 3em;
    position: fixed;
    display: block;
    width: 100%;

    margin: 0;
    padding: 0;
    z-index: 10001;

}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
}

h1{
    font-size: 4.236em;
}
 
h2{
    font-size: 2.618em;
}
 
h3{
    font-size: 1.5em;
}
 
p, a, div, td, label{
    font-size: 1em;
}



md-content {
    overflow-y: scroll;
    max-height: 90%;
    max-width: 90%;
}

md-dialog {
    width: 100%;
}

md-toolbar {
    position: fixed;
}

md-toast {
    left: 2%;
    right: 52%;
    margin-bottom: 50px;
}

.success-toast .md-toast-content {
    background-color: #38610B;
    color: white;
}
.success-toast .md-toast-content .md-toast-buttons {
    float: right;
}

.error-toast .md-toast-content {
    background-color: #610B0B;
    color: white;
}
.error-toast .md-toast-content .md-toast-buttons {
    float: right;
}

.warning-toast .md-toast-content {
    background-color: #61380B;
    color: white;
}
.warning-toast .md-toast-content .md-toast-buttons {
    float: right;
}

.debug-toast .md-toast-content {
    background-color: #424242;
    color: white;
}
.debug-toast .md-toast-content .md-toast-buttons {
    float: right;
}

.debug-body {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    margin: 0;
    padding: 5%;
    overflow: auto;
}

.debug-content {
    margin: 5%;
    padding: 5%;
    display: block;
    position: relative;
    width: 90%;
    background-color: #F2F0EE;
    border-radius: 1em;
}

.stretch {
    width:100%;
    height:100%;
}

.stretch-absolute {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    border: none;
}

.stretch-relative-block {
    display: block;
    position: relative;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    border: none;
}

.center-content-both {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; 
    flex-flow: row;
    align-items: center; 
    justify-content: center;
}

.center-content-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; 
    flex-flow: column;
    align-items: center; 
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 1.5em;
}
::-webkit-scrollbar-track {
    background-color: rgb(222,222,222);
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(190, 190, 190);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(164, 164, 164);
}

.vertical {
    transform: rotate(90deg);
	transform-origin: left top 0;
}
