﻿.table {
    background-color: transparent;
}

.table-header {

}

.table-header-clickable:hover {
    cursor: pointer !important;
    background-color: rgba(0, 0, 0, 0.20);
}

.table-header-non-clickable:hover {
    cursor: default !important;
}

.table-inner {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.table-cell-clickable:hover {
    cursor: pointer !important;
}

.table-cell-non-clickable:hover {
    cursor: default !important;
}

.trItemOnList {
    height: 3em !important;
    max-height: 3em !important;
    min-height: 3em !important;
    cursor: default !important;
}

.trItemOnList:hover {
    background-color: rgba(60,58,56,0.2);
    cursor: default !important;
}

.trItemOnList-active {
    background-color: rgba(60,58,56,0.4);
}

.trActiveItem {
    background-color: rgba(60,58,56,0.3) !important;
}

.tdDateExceeded {
    color: #FF4000;
}

.trItemExpanded {
    background-color: rgba(0,0,0,0.3); 
}

.divItemOnList {
    height: 3em;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    padding: 0.3em;
    margin: 0.3em;
}

.divItemOnList-Desc {
    text-align: left;
}

.divItemOnList-Number {
    text-align: right;
}

.divItemOnList-Center {
    text-align: center;
}

.divItemOnList-Active {
    height: 100%;
    min-height: 3.5em;
}

.divItemOnList-Id {
    font-weight: 700;
}

.tdNotes:hover {
    cursor: pointer;
    font-weight: bold;
}
